.mainpage,
.mainpage * {
  box-sizing: border-box;
}
.mainpage {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 9.79px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1880px;
  height: 1717.46px;
  position: relative;
  overflow: hidden;
}
.mainpage__section-total {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.98px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 1880px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.mainpage__section-search {
  flex-shrink: 0;
  width: 1880px;
  height: 539.52px;
  position: relative;
  overflow: hidden;
}
.mainpage__bg {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 539.52px;
  position: absolute;
  right: -0.98px;
  left: 0.97918701171875px;
  top: 0px;
}
.mainpage___73222-f-48-f-4887-1 {
  flex-shrink: 0;
  width: 1880px;
  height: 539.52px;
  position: relative;
}
.mainpage__search {
  width: 1175px;
  height: 0.98px;
  position: absolute;
  left: calc(50% - 587.5px);
  top: 0px;
}
.mainpage__div-search-title {
  width: 1175px;
  height: 87.15px;
  position: absolute;
  left: 0.98px;
  top: 135.13px;
}
.mainpage__div-search-text {
  height: 50.92px;
  position: absolute;
  right: 0px;
  left: -0.00030517578125px;
  top: 0px;
}
.mainpage___3657 {
  color: #ffffff;
  text-align: center;
  font: 400 27.42px/27.42px "Pretendard-medium", sans-serif;
  position: absolute;
  left: calc(50% - 356.42px);
  top: 59.73px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__ {
  color: #ffffff;
  text-align: center;
  font: 400 55.81px/27.42px "Pretendard-medium", sans-serif;
  position: absolute;
  left: calc(50% - 336.83px);
  top: 0px;
  width: 315.29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__2 {
  color: #ffffff;
  text-align: center;
  font: 400 39.17px/27.42px "Pretendard-medium", sans-serif;
  position: absolute;
  left: calc(50% - 21.54px);
  top: 2.94px;
  width: 394.6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__div-search-box {
  padding: 33.29px 39.17px 47.98px 39.17px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 607.08px;
  height: 250.88px;
  position: absolute;
  left: 284.94px;
  top: 251.65px;
}
.mainpage__div-searchbox-form {
  display: flex;
  flex-direction: column;
  gap: 13.71px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 528.75px;
  position: relative;
}
.mainpage__div-searchbox-form1 {
  display: flex;
  flex-direction: column;
  gap: 13.71px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 528.75px;
  left:-528.75px;
  top: -13.71px;
  position: relative;
}
.mainpage__div-form-1-2 {
  flex-shrink: 0;
  width: 528.75px;
  height: 44.06px;
  position: relative;
}
.mainpage__div {
  padding: 0px 189.96px 0.98px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 18.604162216186523px;
  top: calc(50% - 22.98px);
  overflow: hidden;
}
.mainpage__options-1 {	
     padding-left: 33px;
    border: 1px solid #ddd;    
    
	color: #626262;
  text-align: left;
  font: 400 20px/43.08px "Pretendard-medium", sans-serif;
  
  background: #efefef;
  border-radius: 4.9px;
  width: 216px;
  height: 43.08px;
  position: absolute;
  left: 61.69px;
  top: 0.98px;

}
.mainpage__options-2 {
	
	 padding-left: 33px;
    border: 1px solid #ddd;  
		color: #626262;
  text-align: left;
  font: 400 20px/43.08px "Pretendard-medium", sans-serif;
  
  
  background: #efefef;
  border-radius: 4.9px;
  width: 216px;
  height: 43.08px;
  position: absolute;
  left: 287px;
  top: 0.98px;
  

}
.mainpage__3 {
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainpage__div2 {
  padding: 0px 106.73px 0.98px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0.06px;
  left: 18.666662216186523px;
  top: calc(50% - 22.98px);
  overflow: hidden;
  color: #626262;
  text-align: left;
  font: 400 12.73px/43.08px "Pretendard-medium", sans-serif;
}



.mainpage__div-form-1-3 {
  flex-shrink: 0;
  width: 528.75px;
  height: 44.06px;
  position: relative;
}
.mainpage__div-form-1-4 {
  flex-shrink: 0;
  width: 528.75px;
  height: 44.06px;
  position: relative;
}

.mainpage__options {
	padding-left: 33px;
    border: 1px solid #ddd;    
    
	color: #626262;
  text-align: left;
  font: 400 20px/43.08px "Pretendard-medium", sans-serif;
    background: #efefef;
  border-radius: 4.9px;
  width: 342.71px;
  height: 43.08px;
  position: absolute;
  left: 61.65px;
  top: 0px;;
}
.mainpage__options1 {
	padding-left: 33px;
    border: 1px solid #ddd;    
    
	color: #626262;
  text-align: left;
  font: 400 20px/43.08px "Pretendard-medium", sans-serif;
    background: #efefef;
  border-radius: 4.9px;
  width: 342.71px;
  height: 43.08px;
  position: absolute;
  left: 61.65px;
  top: 130px;;
}
.mainpage__button {
  background: #4da385;
  border-radius: 4.9px;
  width: 93.02px;
  height: 43.08px;
  position: absolute;
  left: 411.25px;
  top: 0px;
     color: #ffffff;
  text-align: center;
   font: 700 14.69px/43.08px "Pretendard-medium", sans-serif;
   display: flex;
  align-items: center;
  justify-content: center;
  
  
   
    border: 1px solid #ddd;    
  
}
.mainpage__button1 {
  background: #4da385;
  border-radius: 4.9px;
  width: 93.02px;
  height: 43.08px;
  position: absolute;
  left: 411.25px;
  top: 130px;
     color: #ffffff;
  text-align: center;
   font: 700 14.69px/43.08px "Pretendard-medium", sans-serif;
   display: flex;
  align-items: center;
  justify-content: center;
   border: 1px solid #ddd; 
}
.mainpage__4 {
  color: #ffffff;
  text-align: center;
  font: 700 14.69px/43.08px "Pretendard-medium", sans-serif;
  position: absolute;
  left: calc(50% - 31.82px);
  top: calc(50% - 13.71px);
  width: 62.67px;
  height: 26.44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__section-notice {
  background: #ffffff;
  border-style: solid;
  border-color: #dedede;
  border-width: 0px 0px 0.98px 0px;
  padding: 0px 9.79px 0px 9.79px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1880px;
  height: 67.56px;
  position: relative;
}
.mainpage__notice-left {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 406.35px;
  height: 66.58px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.mainpage__div-notice-head {
  display: flex;
  flex-direction: row;
  gap: 20.56px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 247.73px;
  height: 63.65px;
  position: absolute;
  left: 0px;
  top: 2.94px;
}
.mainpage__5 {
  color: #000000;
  text-align: center;
  font: 700 19.58px/66.58px "Pretendard-medium", sans-serif;
  position: absolute;
  left: 96.94px;
  top: 2.94px;
  width: 143.94px;
  height: 59.73px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__icon-speak {
  flex-shrink: 0;
  width: 96.94px;
  height: 66.58px;
  position: absolute;
  left: 26.44px;
  top: -3.92px;
}
.mainpage__notice-center {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 915.52px;
  position: relative;
}
.mainpage__notice-contents {
  padding: 0px 64.99px 0px 101.83px;
  display: flex;
  flex-direction: row;
  gap: 798.02px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 839.15px;
  position: relative;
}
.mainpage__item-link {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 66.58px;
  position: relative;
  right: 175.27px;
  left: 87px;
  top:4px;
  overflow: hidden;
  width: 1000px;
  font: 400 19.58px/66.58px "Pretendard-medium", sans-serif;
}
.mainpage__6 {
  color: #000000;
  text-align: center;
  font: 400 19.58px/66.58px "Pretendard-medium", sans-serif;
  position: relative;
  width: 602.19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__notice-right {
  padding: 0px 9.79px 0px 9.79px;
  display: flex;
  flex-direction: row;
  gap: 6.85px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 349.56px;
  height: 66.58px;
  position: absolute;
  left: 1530.44px;
  top: 1.96px;
}
.mainpage__notice-etc {
  display: flex;
  flex-direction: row;
  gap: 59.73px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 445.52px;
  position: absolute;
  left: calc(50% - 270.74px);
  top: -2.94px;
}
.mainpage__notice-date-link {
  color: #000000;
  text-align: center;
  font: 400 19.58px/66.58px "Pretendard-medium", sans-serif;
  position: relative;
  width: 394.6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__free-icon-zoom-in-9546602-1 {
  flex-shrink: 0;
  width: 69.52px;
  height: fit-content;
  position: absolute;
  right: 13.71px;
  top: 0.98px;
}
.mainpage__section-category {
  background: #e1e3e9;
  padding: 70.5px 9.79px 19.58px 0.98px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1880px;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.mainpage__category-icon {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
   flex-wrap: wrap;
  flex-shrink: 0;
  width: 1710px;
  height: 400px;
  
  left: 85px;
  bottom: 33px;
  position: absolute;
  top: 70px;
  
 
}
.mainpage__icon-1 {
  padding: 0px 6.85px 0px 6.85px;
  display: flex;
  flex-direction: column;
  gap: 25.46px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  min-height: 0.98px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 33px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.mainpage__icon-1:hover { /* a태그에 마우스를 올렸을 때 */
  cursor: pointer; 
}
.mainpage__icon-2 {
  padding: 0px 6.85px 0px 6.85px;
  display: flex;
  flex-direction: column;
  gap: 25.46px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  min-height: 0.98px;
  position: absolute;
  left: 470px;
  bottom: 0px;
  top: 33px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.mainpage__icon-2:hover { /* a태그에 마우스를 올렸을 때 */

  cursor: pointer; 
}
.mainpage__icon-3 {
  padding: 0px 6.85px 0px 6.85px;
  display: flex;
  flex-direction: column;
  gap: 25.46px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  min-height: 0.98px;
  position: absolute;
  left: 940px;
  bottom: 0px;
  top: 33px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.mainpage__icon-3:hover { /* a태그에 마우스를 올렸을 때 */

  cursor: pointer; 
}
.mainpage__icon-4 {
  padding: 0px 6.85px 0px 6.85px;
  display: flex;
  flex-direction: column;
  gap: 25.46px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  min-height: 0.98px;
  position: absolute;
  left: 1410px;
  bottom: 0px;
  top: 33px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.mainpage__icon-4:hover { /* a태그에 마우스를 올렸을 때 */

  cursor: pointer; 
}
 .mainpage__7 {
  color: #000000;
  text-align: center;
  
  font: 700 20px "Pretendard-medium", sans-serif;
  position: relative;
  width: 215px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__name-camping {
  padding: 0px 6.85px 0px 6.85px;
  display: flex;
  flex-direction: column;
  gap: 25.46px;
   align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 30px;
  top: 400px;
  overflow: hidden;
}
.mainpage__name-glaming {

  left: 500px;
  
  padding: 0px 6.85px 0px 6.85px;
  display: flex;
  flex-direction: column;
  gap: 25.46px;
   align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  top: 400px;
  overflow: hidden;
}

.mainpage__name-caravan {
  
  left: 970px;
  
  padding: 0px 6.85px 0px 6.85px;
  display: flex;
  flex-direction: column;
  gap: 25.46px;
   align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  top: 400px;
  overflow: hidden;
}
.mainpage__name-pension {
  
  left: 1440px;

  
  padding: 0px 6.85px 0px 6.85px;
  display: flex;
  flex-direction: column;
  gap: 25.46px;
   align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  top: 400px;
  overflow: hidden;
}


.mainpage__8 {
  color: #000000;
  text-align: center;
  font: 700 39.17px "Pretendard-medium", sans-serif;
  position: absolute;
  left: calc(50% - 276.13px);
  top: calc(50% - 54.34px);
  width: 552.25px;
  height: 108.69px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__section-best {
  background: #c0c0c0;
  padding: 9.79px 9.79px 9.79px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1880px;
  height: 542.46px;
  position: relative;
  overflow: hidden;
}
.mainpage__best {
  flex-shrink: 0;
  width: 1880px;
  height: 543.44px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.mainpage__best-contents {
  display: flex;
  flex-direction: row;
  gap: 56.79px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1598px;
  height: 443.56px;
  position: absolute;
  left: 136.1px;
  top: 99.88px;
  overflow: hidden;
}
.mainpage__div-best-num-1 {
  flex-shrink: 0;
  width: 274.17px;
  height: 430.83px;
  position: relative;
  overflow: hidden;
}
.mainpage__best-num-1-contents {
  color: #000000;
  text-align: center;
  font: 700 19.58px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: calc(50% - 117.5px);
  top: 288.85px;
  width: 235px;
  height: 127.29px;
}
.mainpage__best-num-1-img {
  width: 235px;
  height: 235px;
  position: absolute;
  left: calc(50% - 117.5px);
  top: 53.85px;
}
.mainpage__best-num-1-img:hover {

  cursor: pointer; 
}
.mainpage__best-num-1-name {
  color: #000000;
  text-align: center;
  font: 700 17.62px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: 19.58px;
  top: 4.9px;
  width: 235px;
  height: 48.96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__div-best-num-2 {
  flex-shrink: 0;
  width: 274.17px;
  height: 430.83px;
  position: relative;
  overflow: hidden;
}
.mainpage__best-num-2-contents {
  color: #000000;
  text-align: center;
  font: 700 19.58px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: calc(50% - 117.5px);
  top: 288.85px;
  width: 235px;
  height: 127.29px;
}
.mainpage__best-num-2-img {
  width: 235px;
  height: 235px;
  position: absolute;
  left: calc(50% - 117.5px);
  top: 53.85px;
}
.mainpage__best-num-2-img:hover {

  cursor: pointer; 
}
.mainpage__best-num-2-name {
  color: #000000;
  text-align: center;
  font: 700 17.62px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: 19.58px;
  top: 4.9px;
  width: 235px;
  height: 48.96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__div-best-num-3 {
  flex-shrink: 0;
  width: 274.17px;
  height: 430.83px;
  position: relative;
  overflow: hidden;
}
.mainpage__best-num-3-contents {
  color: #000000;
  text-align: left;
  font: 700 19.58px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: 19.58px;
  top: 288.85px;
  width: 235px;
  height: 127.29px;
}
.mainpage__best-num-3-img {
  width: 235px;
  height: 235px;
  position: absolute;
  left: calc(50% - 117.5px);
  top: 53.85px;
}
.mainpage__best-num-3-img:hover {

  cursor: pointer; 
}
.mainpage__best-num-3-name {
  color: #000000;
  text-align: center;
  font: 700 17.62px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: 19.58px;
  top: 4.9px;
  width: 235px;
  height: 48.96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__div-best-num-4 {
  flex-shrink: 0;
  width: 274.17px;
  height: 430.83px;
  position: relative;
  overflow: hidden;
}
.mainpage__best-num-4-contents {
  color: #000000;
  text-align: left;
  font: 700 19.58px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: 19.58px;
  top: 288.85px;
  width: 235px;
  height: 127.29px;
}
.mainpage__best-num-4-img {
  width: 235px;
  height: 235px;
  position: absolute;
  left: calc(50% - 117.5px);
  top: 53.85px;
}
.mainpage__best-num-4-img:hover {

  cursor: pointer; 
}
.mainpage__best-num-4-name {
  color: #000000;
  text-align: center;
  font: 700 17.62px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: 19.58px;
  top: 4.9px;
  width: 235px;
  height: 48.96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__div-best-num-5 {
  flex-shrink: 0;
  width: 274.17px;
  height: 430.83px;
  position: relative;
  overflow: hidden;
}
.mainpage__best-num-5-contents {
  color: #000000;
  text-align: left;
  font: 700 19.58px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: 19.58px;
  top: 288.85px;
  width: 235px;
  height: 127.29px;
}
.mainpage__best-num-5-img {
  width: 235px;
  height: 235px;
  position: absolute;
  left: calc(50% - 117.5px);
  top: 53.85px;
}
.mainpage__best-num-5-img:hover {

  cursor: pointer; 
}
.mainpage__best-num-5-name {
  color: #000000;
  text-align: center;
  font: 700 17.62px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: 19.58px;
  top: 4.9px;
  width: 235px;
  height: 48.96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__best-head {
  padding: 9.79px;
  display: flex;
  flex-direction: row;
  gap: 9.79px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 896.92px;
  height: 105.75px;
  position: absolute;
  left: 486.65px;
  top: 0px;
  overflow: hidden;
}
.mainpage__best-5 {
  color: #000000;
  text-align: center;
  font: 700 39.17px/21.54px "Pretendard-medium", sans-serif;
  position: absolute;
  left: calc(50% - 225.21px);
  top: 20.56px;
  width: 449.44px;
  height: 64.62px;
  display: flex;
  align-items: center;
  justify-content: center;
}