.mainpage,
.mainpage * {
  box-sizing: border-box;
}
.mainpage {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 129.0104vw;
  position: relative;
  overflow: hidden;
}
.mainpage__section-total {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.0521vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 100.0000vw;
  position: absolute;
  left: 0.0000vw;
  top: 0.0000vw;
  overflow: hidden;
}
.mainpage__section-login {
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 100.0000vw;
  height: 4.3229vw;
  position: relative;
}
.mainpage__login {
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 12.5000vw;
  position: absolute;
  left: 87.0833vw;
  top: 0.7813vw;
}
.mainpage__ {
  color: #000000;
  text-align: center;
  font: 400 1.0417vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 0.2083vw;
  top: 0.0000vw;
  width: 11.3021vw;
  height: 2.0833vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__section-header {
  background: rgba(240, 241, 245, 0.1);
  padding: 0.0000vw 0.5208vw 0.0000vw 0.5208vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100.0000vw;
  height: 14.8438vw;
  position: relative;
  overflow: hidden;
}
.mainpage__main-logo {
  padding: 0.0000vw 0.5208vw 0.0000vw 0.5208vw;
  display: flex;
  flex-direction: column;
  gap: 0.5208vw;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 99.6875vw;
  height: 11.9792vw;
  position: relative;
}
.mainpage__camppy-2 {
  background: linear-gradient(
    to left,
    rgba(240, 241, 245, 0.2),
    rgba(240, 241, 245, 0.2)
  );
  flex-shrink: 0;
  width: 18.9583vw;
  height: 11.9792vw;
  position: relative;
}
.mainpage__section-navi {
  background: #e1e3e9;
  padding: 0.8854vw 0.5208vw 0.8854vw 0.5208vw;
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100.0000vw;
  height: 5.6771vw;
  position: relative;
  overflow: hidden;
}
.mainpage__navi-list {
  padding: 0.7813vw 8.5417vw 0.7813vw 8.5417vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 98.1250vw;
  position: absolute;
  left: calc(50% - 49.0104vw);
  top: 0.4688vw;
}
.mainpage__navi-list-1 {
  padding: 0.0000vw 0.8667vw 0.0521vw 0.9375vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 10.4167vw;
  height: 3.1250vw;
  position: absolute;
  left: 14.9479vw;
  top: 1.0417vw;
}
.mainpage__link {
  color: #000000;
  text-align: center;
  font: 400 1.2500vw/1.4583vw "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 4.1667vw);
  top: 0.2083vw;
  width: 8.3333vw;
  height: 2.6042vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__navi-list-2 {
  padding: 0.0000vw 0.8667vw 0.0521vw 0.9375vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 10.4167vw;
  height: 3.1250vw;
  position: absolute;
  left: 33.5938vw;
  top: 1.0417vw;
}
.mainpage__link2 {
  color: #000000;
  text-align: center;
  font: 400 1.2500vw/1.4583vw "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 4.1667vw);
  top: 0.2604vw;
  width: 8.3333vw;
  height: 2.6042vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__navi-list-3 {
  padding: 0.0000vw 0.8667vw 0.0521vw 0.9375vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 10.4167vw;
  height: 3.1250vw;
  position: absolute;
  left: 52.2396vw;
  top: 1.0417vw;
}
.mainpage__navi-list-4 {
  padding: 0.0000vw 0.9375vw 0.0521vw 0.9375vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 10.4167vw;
  height: 3.1250vw;
  position: absolute;
  left: 70.8854vw;
  top: 1.0417vw;
}
.mainpage__section-search {
  flex-shrink: 0;
  width: 100.0000vw;
  height: 28.6979vw;
  position: relative;
  overflow: hidden;
}
.mainpage__bg {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  height: 28.6979vw;
  position: absolute;
  right: -0.0521vw;
  left: 0.0521vw;
  top: 0.0000vw;
}
.mainpage___73222-f-48-f-4887-1 {
  flex-shrink: 0;
  width: 100.0000vw;
  height: 28.6979vw;
  position: relative;
}
.mainpage__search {
  width: 62.5000vw;
  height: 0.0521vw;
  position: absolute;
  left: calc(50% - 31.2500vw);
  top: 0.0000vw;
}
.mainpage__div-search-title {
  width: 62.5000vw;
  height: 4.6354vw;
  position: absolute;
  left: 0.0521vw;
  top: 7.1875vw;
}
.mainpage__div-search-text {
  height: 2.7083vw;
  position: absolute;
  right: 0.0000vw;
  left: 0.0000vw;
  top: 0.0000vw;
}
.mainpage___3657 {
  color: #ffffff;
  text-align: center;
  font: 400 1.4583vw/1.4583vw "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 18.9583vw);
  top: 3.1771vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__2 {
  color: #ffffff;
  text-align: center;
  font: 400 2.9688vw/1.4583vw "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 17.9167vw);
  top: 0.0000vw;
  width: 16.7708vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__3 {
  color: #ffffff;
  text-align: center;
  font: 400 2.0833vw/1.4583vw "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 1.1458vw);
  top: 0.1563vw;
  width: 20.9896vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__div-search-box {
  padding: 1.7708vw 2.0833vw 2.5521vw 2.0833vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  width: 32.2917vw;
  height: 12.8125vw;
  position: absolute;
  left: 15.1563vw;
  top: 13.3854vw;
}
.mainpage__div-searchbox-form {
  display: flex;
  flex-direction: column;
  gap: 0.7292vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 28.1250vw;
  position: relative;
}
.mainpage__div-form-1-2 {
  flex-shrink: 0;
  width: 28.1250vw;
  height: 2.3438vw;
  position: relative;
}
.mainpage__options-2 {
  background: #efefef;
  border-radius: 0.2604vw;
  width: 14.1667vw;
  height: 2.2917vw;
  position: absolute;
  left: 12.6563vw;
  top: 0.0521vw;
}
.mainpage__div {
  padding: 0.0000vw 10.1042vw 0.0521vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0.0000vw;
  left: 0.9896vw;
  top: calc(50% - 1.1979vw);
  overflow: hidden;
}
.mainpage__4 {
  color: #626262;
  text-align: left;
  font: 400 0.6771vw/2.2917vw "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mainpage__options-1 {
  background: #efefef;
  border-radius: 0.2604vw;
  width: 8.8542vw;
  height: 2.2917vw;
  position: absolute;
  left: 3.2813vw;
  top: calc(50% - 1.1198vw);
}
.mainpage__div2 {
  padding: 0.0000vw 5.6771vw 0.0521vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0.0000vw;
  left: 0.9896vw;
  top: calc(50% - 1.1979vw);
  overflow: hidden;
}
.mainpage__div-form-1-3 {
  flex-shrink: 0;
  width: 28.1250vw;
  height: 2.3438vw;
  position: relative;
}
.mainpage__options {
  background: #efefef;
  border-radius: 0.2604vw;
  width: 18.2292vw;
  height: 2.2917vw;
  position: absolute;
  left: 3.3854vw;
  top: 0.0000vw;
}
.mainpage__button {
  background: #4da385;
  border-radius: 0.2604vw;
  width: 4.9479vw;
  height: 2.2917vw;
  position: absolute;
  left: 21.8750vw;
  top: 0.0000vw;
}
.mainpage__5 {
  color: #ffffff;
  text-align: center;
  font: 700 0.7813vw/2.2917vw "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 1.6927vw);
  top: calc(50% - 0.7292vw);
  width: 3.3333vw;
  height: 1.4063vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__section-notice {
  background: #ffffff;
  border-style: solid;
  border-color: #dedede;
  border-width: 0.0000vw 0.0000vw 0.0521vw 0.0000vw;
  padding: 0.0000vw 0.5208vw 0.0000vw 0.5208vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 100.0000vw;
  height: 3.5938vw;
  position: relative;
}
.mainpage__notice-left {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 21.6146vw;
  height: 3.5417vw;
  position: absolute;
  left: 0.0000vw;
  top: 0.0000vw;
}
.mainpage__div-notice-head {
  display: flex;
  flex-direction: row;
  gap: 1.0938vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 13.1771vw;
  height: 3.3854vw;
  position: absolute;
  left: 0.0000vw;
  top: 0.1563vw;
}
.mainpage__6 {
  color: #000000;
  text-align: center;
  font: 700 1.0417vw/3.5417vw "NanumGothic", sans-serif;
  position: absolute;
  left: 5.1563vw;
  top: 0.1563vw;
  width: 7.6563vw;
  height: 3.1771vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__icon-speak {
  flex-shrink: 0;
  width: 5.1563vw;
  height: 3.5417vw;
  position: absolute;
  left: 1.4063vw;
  top: -0.2083vw;
}
.mainpage__notice-center {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48.6979vw;
  position: relative;
}
.mainpage__notice-contents {
  padding: 0.0000vw 3.4568vw 0.0000vw 5.4167vw;
  display: flex;
  flex-direction: row;
  gap: 42.4479vw;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 44.6354vw;
  position: relative;
}
.mainpage__item-link {
  padding: 0.0000vw 0.0000vw 0.6250vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 3.5417vw;
  position: absolute;
  right: 9.3229vw;
  left: 3.2813vw;
  top: 0.0000vw;
  overflow: hidden;
}
.mainpage__7 {
  color: #000000;
  text-align: center;
  font: 400 1.0417vw/3.5417vw "NanumGothic", sans-serif;
  position: relative;
  width: 32.0313vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__notice-right {
  padding: 0.0000vw 0.5208vw 0.0000vw 0.5208vw;
  display: flex;
  flex-direction: row;
  gap: 0.3646vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 18.5938vw;
  height: 3.5417vw;
  position: absolute;
  left: 81.4063vw;
  top: 0.1042vw;
}
.mainpage__notice-etc {
  display: flex;
  flex-direction: row;
  gap: 3.1771vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 23.6979vw;
  position: absolute;
  left: calc(50% - 14.4010vw);
  top: -0.1563vw;
}
.mainpage__notice-date-link {
  color: #000000;
  text-align: center;
  font: 400 1.0417vw/3.5417vw "NanumGothic", sans-serif;
  position: relative;
  width: 20.9896vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__free-icon-zoom-in-9546602-1 {
  flex-shrink: 0;
  width: 3.6979vw;
  height: 3.3854vw;
  position: absolute;
  right: 0.7292vw;
  top: 0.0521vw;
}
.mainpage__section-category {
  background: #e1e3e9;
  padding: 3.7500vw 0.5208vw 1.0417vw 0.0521vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 100.0000vw;
  height: 30.0521vw;
  position: relative;
  overflow: hidden;
}
.mainpage__category-icon {
  padding: 0.0000vw 0.0000vw 0.6250vw 0.0000vw;
  display: flex;
  flex-direction: column;
  gap: 0.8854vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 84.1146vw;
  height: 25.4167vw;
  position: absolute;
  left: calc(50% - 42.2917vw);
  top: 3.7500vw;
}
.mainpage__icon-camping {
  padding: 0.0000vw 0.3646vw 0.0000vw 0.3646vw;
  display: flex;
  flex-direction: column;
  gap: 1.3542vw;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.9167vw;
  min-height: 0.0521vw;
  position: absolute;
  left: 3.6979vw;
  top: 9.2708vw;
  overflow: hidden;
}
.mainpage__div-icon-img-1 {
  border-radius: 4.3229vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 8.6458vw;
  height: 8.6458vw;
  position: relative;
  overflow: hidden;
}
.mainpage__img-more-png {
  flex-shrink: 0;
  width: 1.8229vw;
  height: 1.8229vw;
  position: absolute;
  left: 3.4375vw;
  top: 3.4375vw;
}
.mainpage__link-7968-yz-lbkpegl-un-qg-h-4-ooz-ld-jpg {
  border-radius: 4.3229vw;
  flex-shrink: 0;
  width: 8.6458vw;
  height: 8.6458vw;
  position: absolute;
  left: calc(50% - 4.3229vw);
  top: 0.0000vw;
}
.mainpage__icon-glamping {
  padding: 0.0000vw 0.3646vw 0.0000vw 0.3646vw;
  display: flex;
  flex-direction: column;
  gap: 1.3542vw;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  min-height: 0.0521vw;
  position: absolute;
  right: 51.5625vw;
  left: 19.6354vw;
  bottom: 7.5000vw;
  overflow: hidden;
}
.mainpage__div-icon-img-2 {
  border-radius: 4.3229vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 8.6458vw;
  height: 8.6458vw;
  position: relative;
  overflow: hidden;
}
.mainpage__link-9769-xt-4-w-tei-5-mvvmt-2-o-84-x-1-q-jpg {
  border-radius: 4.3229vw;
  flex-shrink: 0;
  width: 8.6458vw;
  height: 8.6458vw;
  position: relative;
}
.mainpage__icon-caravan {
  padding: 0.0000vw 0.3646vw 0.0000vw 0.3646vw;
  display: flex;
  flex-direction: column;
  gap: 1.3542vw;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  min-height: 0.0521vw;
  position: absolute;
  right: 35.6250vw;
  left: 35.5729vw;
  bottom: 7.5000vw;
  top: 9.2708vw;
  overflow: hidden;
}
.mainpage__div-icon-img-3 {
  border-radius: 4.3229vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 8.6458vw;
  height: 8.6458vw;
  position: relative;
  overflow: hidden;
}
.mainpage__link-0853-cet-k-93-gw-3-s-o-bl-p-1-pa-ldl-jpg {
  border-radius: 4.3229vw;
  flex-shrink: 0;
  width: 8.6458vw;
  height: 8.6458vw;
  position: relative;
}
.mainpage__icon-pension {
  padding: 0.0000vw 0.3646vw 0.0000vw 0.3646vw;
  display: flex;
  flex-direction: column;
  gap: 1.3542vw;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  min-height: 0.0521vw;
  position: absolute;
  right: 19.6875vw;
  left: 51.5104vw;
  bottom: 7.5000vw;
  top: 9.2708vw;
  overflow: hidden;
}
.mainpage__div-icon-img-4 {
  border-radius: 4.3229vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 8.6458vw;
  height: 8.6458vw;
  position: relative;
  overflow: hidden;
}
.mainpage__link-05337-y-0-jv-qqic-9-d-6-is-82-cokf-jpg {
  border-radius: 4.3229vw;
  flex-shrink: 0;
  width: 8.6458vw;
  height: 8.6458vw;
  position: relative;
}
.mainpage__icon-reserve {
  border-radius: 4.3229vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  right: 3.7500vw;
  left: 67.4479vw;
  bottom: 7.5000vw;
  top: 9.2708vw;
  overflow: hidden;
}
.mainpage__div-icon-img-5 {
  border-radius: 4.3229vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 8.6458vw;
  height: 8.6458vw;
  position: relative;
  overflow: hidden;
}
.mainpage__category-name {
  display: flex;
  flex-direction: row;
  gap: 4.2708vw;
  align-items: undefined;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: absolute;
  right: 8.7500vw;
  left: 11.2500vw;
  bottom: 1.7708vw;
  top: 24.4271vw;
}
.mainpage__name-camping {
  padding: 0.6771vw 0.0000vw 0.6771vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: undefined;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: calc(50% - 39.7396vw);
  top: 0.0000vw;
  overflow: hidden;
}
.mainpage__8 {
  color: #000000;
  text-align: center;
  font: 700 2.0833vw "Inter", sans-serif;
  position: relative;
  width: 11.4583vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__name-glaming {
  padding: 0.6771vw 0.0000vw 0.6771vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: undefined;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: calc(50% - 23.6979vw);
  top: 0.0000vw;
  overflow: hidden;
}
.mainpage__name-caravan {
  padding: 0.6771vw 0.0000vw 0.6771vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: undefined;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: calc(50% - 7.6563vw);
  top: 0.0000vw;
  overflow: hidden;
}
.mainpage__name-pension {
  padding: 0.6771vw 0.0000vw 0.6771vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: undefined;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: calc(50% - -8.6979vw);
  top: 0.0000vw;
  overflow: hidden;
}
.mainpage__name-reserve {
  padding: 0.6771vw 0.0000vw 0.6771vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: undefined;
  justify-content: center;
  flex-shrink: 0;
  width: 11.7188vw;
  position: absolute;
  left: calc(50% - -24.5313vw);
  top: 0.0000vw;
  overflow: hidden;
}
.mainpage__category-head {
  flex-shrink: 0;
  width: 31.8229vw;
  height: 7.7604vw;
  position: absolute;
  left: 33.6458vw;
  top: 3.7500vw;
  overflow: hidden;
}
.mainpage__9 {
  color: #000000;
  text-align: center;
  font: 700 2.0833vw "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 14.6875vw);
  top: calc(50% - 2.8906vw);
  width: 29.3750vw;
  height: 5.7813vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__section-best {
  background: #c0c0c0;
  padding: 0.5208vw 0.5208vw 0.5208vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 100.0000vw;
  height: 28.8542vw;
  position: relative;
  overflow: hidden;
}
.mainpage__best {
  flex-shrink: 0;
  width: 100.0000vw;
  height: 28.9063vw;
  position: absolute;
  left: 0.0000vw;
  top: 0.0000vw;
  overflow: hidden;
}
.mainpage__best-contents {
  display: flex;
  flex-direction: row;
  gap: 3.0208vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 85.0000vw;
  height: 23.5938vw;
  position: absolute;
  left: 7.2396vw;
  top: 5.3125vw;
  overflow: hidden;
}
.mainpage__div-best-num-1 {
  flex-shrink: 0;
  width: 14.5833vw;
  height: 22.9167vw;
  position: relative;
  overflow: hidden;
}
.mainpage__best-num-1-contents {
  color: #000000;
  text-align: center;
  font: 700 1.0417vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 6.2500vw);
  top: 15.3646vw;
  width: 12.5000vw;
  height: 6.7708vw;
}
.mainpage__best-num-1-img {
  width: 12.5000vw;
  height: 12.5000vw;
  position: absolute;
  left: calc(50% - 6.2500vw);
  top: 2.8646vw;
}
.mainpage__best-num-1-name {
  color: #000000;
  text-align: center;
  font: 700 0.9375vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 1.0417vw;
  top: 0.2604vw;
  width: 12.5000vw;
  height: 2.6042vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__div-best-num-2 {
  flex-shrink: 0;
  width: 14.5833vw;
  height: 22.9167vw;
  position: relative;
  overflow: hidden;
}
.mainpage__best-num-2-contents {
  color: #000000;
  text-align: center;
  font: 700 1.0417vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 6.2500vw);
  top: 15.3646vw;
  width: 12.5000vw;
  height: 6.7708vw;
}
.mainpage__best-num-2-img {
  width: 12.5000vw;
  height: 12.5000vw;
  position: absolute;
  left: calc(50% - 6.2500vw);
  top: 2.8646vw;
}
.mainpage__best-num-2-name {
  color: #000000;
  text-align: center;
  font: 700 0.9375vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 1.0417vw;
  top: 0.2604vw;
  width: 12.5000vw;
  height: 2.6042vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__div-best-num-3 {
  flex-shrink: 0;
  width: 14.5833vw;
  height: 22.9167vw;
  position: relative;
  overflow: hidden;
}
.mainpage__best-num-3-contents {
  color: #000000;
  text-align: left;
  font: 700 1.0417vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 1.0417vw;
  top: 15.3646vw;
  width: 12.5000vw;
  height: 6.7708vw;
}
.mainpage__best-num-3-img {
  width: 12.5000vw;
  height: 12.5000vw;
  position: absolute;
  left: calc(50% - 6.2500vw);
  top: 2.8646vw;
}
.mainpage__best-num-3-name {
  color: #000000;
  text-align: center;
  font: 700 0.9375vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 1.0417vw;
  top: 0.2604vw;
  width: 12.5000vw;
  height: 2.6042vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__div-best-num-4 {
  flex-shrink: 0;
  width: 14.5833vw;
  height: 22.9167vw;
  position: relative;
  overflow: hidden;
}
.mainpage__best-num-4-contents {
  color: #000000;
  text-align: left;
  font: 700 1.0417vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 1.0417vw;
  top: 15.3646vw;
  width: 12.5000vw;
  height: 6.7708vw;
}
.mainpage__best-num-4-img {
  width: 12.5000vw;
  height: 12.5000vw;
  position: absolute;
  left: calc(50% - 6.2500vw);
  top: 2.8646vw;
}
.mainpage__best-num-4-name {
  color: #000000;
  text-align: center;
  font: 700 0.9375vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 1.0417vw;
  top: 0.2604vw;
  width: 12.5000vw;
  height: 2.6042vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__div-best-num-5 {
  flex-shrink: 0;
  width: 14.5833vw;
  height: 22.9167vw;
  position: relative;
  overflow: hidden;
}
.mainpage__best-num-5-contents {
  color: #000000;
  text-align: left;
  font: 700 1.0417vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 1.0417vw;
  top: 15.3646vw;
  width: 12.5000vw;
  height: 6.7708vw;
}
.mainpage__best-num-5-img {
  width: 12.5000vw;
  height: 12.5000vw;
  position: absolute;
  left: calc(50% - 6.2500vw);
  top: 2.8646vw;
}
.mainpage__best-num-5-name {
  color: #000000;
  text-align: center;
  font: 700 0.9375vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 1.0417vw;
  top: 0.2604vw;
  width: 12.5000vw;
  height: 2.6042vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__best-head {
  padding: 0.5208vw;
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 47.7083vw;
  height: 5.6250vw;
  position: absolute;
  left: 25.8854vw;
  top: 0.0000vw;
  overflow: hidden;
}
.mainpage__best-5 {
  color: #000000;
  text-align: center;
  font: 700 2.0833vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 11.9792vw);
  top: 1.0938vw;
  width: 23.9063vw;
  height: 3.4375vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__section-footer {
  display: flex;
  flex-direction: column;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100.0000vw;
  height: 12.9167vw;
  position: relative;
}
.mainpage__footer-info {
  background: #2e2f31;
  border-style: solid;
  border-color: #4a4a4c;
  border-width: 0.0000vw 0.0000vw 0.0521vw 0.0000vw;
  padding: 0.0000vw 0.5208vw 0.2604vw 0.5208vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 6.2500vw;
  min-height: 4.6875vw;
  position: absolute;
  right: 0.0000vw;
  left: 0.0000vw;
  top: 0.0000vw;
}
.mainpage__footer-list {
  padding: 0.7813vw 8.5417vw 0.7813vw 8.5417vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  right: 33.0990vw;
  left: 8.5677vw;
  top: 0.7292vw;
}
.mainpage__footer-list-1 {
  padding: 0.0000vw 0.8667vw 0.0521vw 0.9375vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 10.3125vw;
  height: 3.1250vw;
  position: relative;
}
.mainpage__link3 {
  color: #ffffff;
  text-align: center;
  font: 400 0.6771vw/1.4583vw "NanumGothic", sans-serif;
  position: absolute;
  left: 0.8073vw;
  top: 0.2083vw;
  width: 8.7500vw;
  height: 2.7083vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__footer-list-2 {
  padding: 0.0000vw 0.8667vw 0.0521vw 0.9375vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 10.3125vw;
  height: 3.1250vw;
  position: relative;
}
.mainpage__footer-list-3 {
  padding: 0.0000vw 0.8667vw 0.0521vw 0.9375vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 10.3125vw;
  height: 3.1250vw;
  position: relative;
}
.mainpage__footer-list-4 {
  padding: 0.0000vw 0.8667vw 0.0521vw 0.9375vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 10.3125vw;
  height: 3.1250vw;
  position: relative;
}
.mainpage__footer-info-link {
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 71.9271vw;
  top: 2.2917vw;
}
.mainpage__info-site-1 {
  background: #393a3b;
  padding: 0.0521vw 0.9896vw 0.0521vw 0.9896vw;
  display: flex;
  flex-direction: row;
  gap: 0.5208vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 7.8125vw;
  height: 2.0833vw;
  position: relative;
}
.mainpage__button2 {
  color: #d0d0d0;
  text-align: center;
  font: 400 0.6771vw/1.9792vw "Inter", sans-serif;
  position: relative;
  width: 7.8125vw;
  height: 2.0833vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__info-site-2 {
  background: #393a3b;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 7.8125vw;
  height: 2.0833vw;
  position: relative;
}
.mainpage__10 {
  color: #d0d0d0;
  text-align: center;
  font: 400 0.6771vw/1.9792vw "Inter", sans-serif;
  position: relative;
  width: 7.8125vw;
  height: 1.9792vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__footer-copyright {
  background: #2e2f31;
  padding: 0.5208vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 100.0000vw;
  height: 6.8229vw;
  position: absolute;
  left: 0.0000vw;
  top: 6.2500vw;
}
.mainpage__footer-info2 {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 70.1042vw;
  height: 5.2604vw;
  position: absolute;
  left: calc(50% - 32.0313vw);
  top: 0.9896vw;
}
.mainpage___109-7 {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.6771vw/1.1458vw "NanumGothic", sans-serif;
  position: relative;
  width: 25.6250vw;
  height: 1.8750vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mainpage__email-camppy-itwillbs-co-kr {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.6771vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 0.0000vw;
  top: 1.6667vw;
  width: 10.0521vw;
  height: 2.0833vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mainpage-email-camppy-itwillbs-co-kr-span {
  color: #c0c0c0;
  font: 400 0.6771vw/1.1458vw "NanumGothic", sans-serif;
}
.mainpage-email-camppy-itwillbs-co-kr-span2 {
  color: #c0c0c0;
  font: 400 0.6771vw/1.1458vw "NanumGothic", sans-serif;
}
.mainpage__copyrights-c-2018-korea-tourism-organization-all-rights-reserved {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.6771vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 0.0000vw;
  top: 3.2813vw;
  width: 26.1458vw;
  height: 2.3958vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mainpage___051-803-0909 {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.6771vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 11.5625vw;
  top: 1.8750vw;
  width: 11.3021vw;
  height: 1.8750vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mainpage__tel-051-803-0909-10-00-18-00 {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.6771vw/1.1458vw "NanumGothic", sans-serif;
  position: absolute;
  left: 26.1458vw;
  top: -0.2083vw;
  width: 16.7188vw;
  height: 2.2396vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mainpage__sns {
  display: flex;
  flex-direction: row;
  gap: 1.7708vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 14.1667vw;
  height: 4.2188vw;
  position: absolute;
  right: -0.6771vw;
  top: 0.0000vw;
}
.mainpage__item-link2 {
  flex-shrink: 0;
  width: 2.0833vw;
  height: 2.0833vw;
  position: absolute;
  left: 0.7292vw;
  top: 0.7813vw;
}
.mainpage__item-link3 {
  flex-shrink: 0;
  width: 2.0833vw;
  height: 2.0833vw;
  position: absolute;
  left: 7.0313vw;
  top: 0.7813vw;
}
.mainpage__item-link4 {
  flex-shrink: 0;
  width: 2.0833vw;
  height: 2.0833vw;
  position: absolute;
  left: 4.0625vw;
  top: 0.7813vw;
}
.mainpage__item-link5 {
  flex-shrink: 0;
  width: 2.0833vw;
  height: 2.0833vw;
  position: absolute;
  left: 9.9479vw;
  top: 0.7813vw;
}
.mainpage__free-icon-up-arrow-5181252-1 {
  border-radius: 0.1563vw;
  flex-shrink: 0;
  width: 2.8646vw;
  height: 2.8646vw;
  position: absolute;
  left: 94.0625vw;
  top: 1.1979vw;
}
