.camInfo,
.campInfo * {
  box-sizing: border-box;
}
.campInfo {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.5319vw;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: 133vw;
  position: relative;
  overflow: hidden;
}

.bannerSectionTotal {
  flex-shrink: 0;
  width: 100.0000vw;
  height: 18.4043vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.bannerBg {
  background: linear-gradient(to left, #000000, #000000);
  width: 102.1277vw;
  height: 19.0426vw;
  position: absolute;
  left: 0.0000vw;
  top: 0vw;
}

.campName {
  color: #ffffff;
  text-align: left;
  font: 400 3.5vw "Inter", sans-serif;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  width: 50vw;


}
.campReport {
  color: #ffffff;
  text-align: left;
  font: 400 1.5vw "NanumGothic", sans-serif;
  position: absolute;
  margin-top: 4vw;
}

.bannerRsButton {
  color: #ffffff;
  font: 1vw "Inter", sans-serif;
  text-align: center;
  background: #4da385;
  border-radius: 0.2660vw;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  width: 7vw;
  height: 2.4vw;
  position: absolute;
  left: 91.5vw;
  top: 16vw
}

.infoSectionBody {
  flex-shrink: 0;
  width: 100.0000vw;
  height: 112vw;
  position: relative;
  overflow: hidden;
}
.mainInfo {
  display: flex;
  flex-direction: row;
  gap: 1.8750vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  left: calc(50% - 31.2500vw);
  top: 7.3957vw;
}

.mainImg {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 37.5000vw;
  height: 25.2085vw;
  position: relative;
}

.infoList {
  border-top-style: solid;
  border-color: #c8c8c8;
  border-top-width: 0.0521vw;
  padding-top: 0.0521vw;
  display: flex;
  flex-direction: column;
  gap: 0.0261vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 23.1250vw;
  position: relative;
  overflow: hidden;
}

.infoAddress {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.campAddress {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoTell {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.tellNum {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoSet {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.setBg {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoType {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.type {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.runSeason {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.season {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.runDay {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.week {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.homePage {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.pageLink {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.useSpace {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}
.space {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rating {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  display: flex;
  width: 23.1250vw;
}

.star {
  color: #FFD732;
  text-align: left;
  font: 2vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.likeButton {
  color: #ffffff;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  text-align: center;
  border-radius: 0.2660vw;
  background: #e32242;
  height: 1.8vw;
  position: absolute;
  width: 4vw;
  left: 17vw;
}

.infoLinkList {
  border-style: solid;
  border-color: #8d8d8d;
  border-width: 0.1043vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  left: calc(50% - 18.3851vw);
  top: 35.7814vw;
  overflow: hidden;
}

.infoLink1 {
  color: #8d8d8d;
  text-align: center;
  font: 400 0.7814vw/2.7606vw "NanumGothic", sans-serif;
  width: 12vw;
  background: #ffffff;
}

.infoLink2 {
  color: #ffffff;
  text-align: center;
  font: 400 0.7814vw/2.7606vw "NanumGothic", sans-serif;
  width: 12vw;
  background: #8d8d8d;
}

.campCenterImg {
  display: flex;
  flex-direction: row;
  gap: 1.2500vw;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 31.2500vw);
  top: 41.7186vw;
  overflow: hidden;
}

.campCenterImg1 {
  flex-shrink: 0;
  position: relative;
  width: 20vw;
  height: 11vw;
}
.campCenterImg2 {
  flex-shrink: 0;
  position: relative;
  width: 20vw;
  height: 11vw;
}
.campCenterImg3 {
  flex-shrink: 0;
  position: relative;
  width: 20vw;
  height: 11vw;
}

.campExplain {
  color: #000000;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  height: 9.3229vw;
  border-style: solid;
  border-color: #000000;
  border-width: 0.1043vw 0.0000vw 0.0521vw 0.0000vw;
  padding-top: 0.5vw;
  width: 63.2293vw;
  position: absolute;
  left: 18.8021vw;
  top: 55vw;
}

.reviseDay {
  color: #888888;
  text-align: left;
  font: 400 0.6771vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 0.3644vw;
  top: 7.7085vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.campInfoFacilities {
  display: flex;
  flex-direction: column;
  gap: 0.5207vw;
  align-items: flex-start;
  justify-content: flex-start;
  height: 8.2293vw;
  position: absolute;
  left: 18.9585vw;
  top: 68.4894vw;
  
}

.facilitiesIcon {
  flex-shrink: 0;
  width: 1.0936vw;
  height: 1.0936vw;
  position: absolute;
  left: 0.0000vw;
  top: 0.6771vw;
}
.infoFacilities {
  color: #000000;
  text-align: left;
  font: 400 1.0415vw/1.4064vw "NanumGothic", sans-serif;
  left: 1.4064vw;
  top: 0.5207vw;
  width: 17.0314vw;
  padding-bottom: 0.5vw;
  position: relative;
}
.facilitiesImgBox {
  background: #f9f9f9;
  border-radius: 0.2606vw;
  width: 62.9165vw;
  height: 5.2085vw;
  position: relative;
  display: flex;
}
.facilitiesImg {
  flex-shrink: 0;
  width: 48.5936vw;
  height: 4.1144vw;
  margin: auto;
}

.infoSpan1 {
  color: #000000;
  font: 700 0.6771vw/1.3021vw "NanumGothic", sans-serif;
}
.infoSpan2 {
  color: #ff0000;
  font: 700 0.6771vw/1.3021vw "NanumGothic", sans-serif;
}
.infoSpan3 {
  color: #000000;
  font: 700 0.6771vw/1.3021vw "NanumGothic", sans-serif;
}
.campPictureBox {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 70.4686vw;
  height: 32.6564vw;
  position: absolute;
  left: 18.9585vw;
  top: 100vw;
}
.campPictureIcon{
  flex-shrink: 0;
  width: 1.0936vw;
  height: 1.0936vw;
  position: absolute;
  left: 0.0000vw;
  top: 0.6771vw;
}

.campPictureTitle {
  color: #000000;
  text-align: left;
  font: 400 1.0415vw/1.4064vw "NanumGothic", sans-serif;
  left: 1.4064vw;
  top: 0.5207vw;
  width: 17.0314vw;
  padding-bottom: 0.5vw;
  position: relative;
}

.campPhotoBox {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 0.1043vw 0.0000vw 0.1043vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 63vw;
  height: 25.9894vw;
  position: absolute;
  top: 3.3335vw;
  padding-top: 0.2vw;
  overflow: hidden;
}

.photo1 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo2 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo3 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo4 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo5 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo6 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo7 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo8 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo9 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo10 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo11 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo12 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo13 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo14 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}
.photo15 {
  flex-shrink: 0;
  width: 12.2915vw;
  height: 8.1771vw;
  position: relative;
}

