.campinfo-review, .campinfo-review * {
	box-sizing: border-box;
}

.campinfoReview {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-shrink: 0;
	width: 1202.42px;
	height: 520.92px;
	position: relative;
	left: calc(50% - 599.74px);
}

.reviewTop {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 1150px;
	height: 60px;
	position: relative;
	top: 15px;
	border-bottom: solid;
	border-width: 1px;
	
}

.reviewCount {
	color: #000000;
	text-align: left;
	font: 400 19.58px/26.44px "NanumGothic", sans-serif;
	position: absolute;
	left: 10px;
	top: 30px;
	width: 117.5px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.buttonInsert {
  background: #4da285;
  border-radius: 5.97px;
  flex-shrink: 0;
  width: 75px;
  height: 25px;
  position: absolute;
  left: 1075px;
  top: 30px;
  color: #ffffff;
  text-align: center;
  font: "NanumGothic", sans-serif;
}
.campinfoList {
	border-width: 0.98px 0px 0px 0px;
	border-style: solid;
	border-image: linear-gradient(0deg, rgba(179, 179, 179, 1) 0%,
		rgba(0, 0, 0, 1) 0%);
	border-image-slice: 1;
	display: flex;
	flex-direction: column;
	gap: 0.49px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 1147.58px;
	height: 404.4px;
	position: absolute;
	left: 40.15px;
	top: 75.4px;
}

.campinfoRow {
	border-style: solid;
	border-color: #b3b3b3;
	border-width: 0px 0px 0.98px 0px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-shrink: 0;
	width: 1150px;
	height: 87.15px;
	position: relative;
	margin-top: 10px;
}

.campinfoStar {
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 50px;
	top: 5px;
}

.campinfoStar1 {
	color: #777777;
	text-align: center;
	font: 400 13.71px/19.58px "NanumGothic", sans-serif;
	position: absolute;
	left: auto;
	top: 0px;
	width: 145px;
	height: 30px;
	display: flex;
	align-items: center;
}

.reviewNum {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 46.02px;
	position: absolute;
	left: 0.98px;
	top: 20.56px;
}

.reviewNum1 {
	color: #777777;
	text-align: center;
	font: 400 13.71px/19.58px "NanumGothic", sans-serif;
	position: absolute;
	left: calc(50% - 17.14px);
	top: 0px;
	width: 34.27px;
	height: 50.92px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reviewName {
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 50px;
	top: 45px;
}

.reviewName1 {
	color: #777777;
	text-align: center;
	font: 400 13.71px/19.58px "NanumGothic", sans-serif;
	position: absolute;
	left: auto;
	top: 0px;
	width: 145px;
	height: 30px;
	display: flex;
	align-items: center;
}

.reviewDate {
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 160px;
	top: 5px;
}

.reviewDate1 {
	color: #777777;
	text-align: center;
	font: 400 13.71px/19.58px "NanumGothic", sans-serif;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 30px;
	display: flex;
	align-items: center;
}

.reviewContents {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 930.21px;
	height: 30.35px;
	position: absolute;
	left: 160px;
	top: 45px;
}

.reviewContents1 {
	color: #777777;
	text-align: left;
	font: 400 13.71px/19.58px "NanumGothic", sans-serif;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1000px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}


.buttonUpdate{
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 350px;
	top: 10px;
}
.buttonDel {
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 400px;
	top: 10px;
}
.buttonSave{
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 800px;
	top: 10px;
}
.buttonCancel{
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 850px;
	top: 10px;
	display: none;
}
.editContent { 
  resize: none;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 600px; 
  height: 20px;
  font: 400 13.71px/19.58px "NanumGothic", sans-serif;
  color: #777777;
}
  .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

.pagination a {
        text-decoration: none;
        padding: 8px 16px;
        margin: 0 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #333;
        transition: background-color 0.3s, color 0.3s;
    }

    .pagination a.active {
        background-color: #333;
        color: #fff;
    }

    .pagination a:hover {
        background-color: #333;
        color: #fff;
          }