.mypage-review,
.mypage-review * {
  box-sizing: border-box;
}
.mypageReview {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1920px;
  height: 2726px;
  position: relative;
  overflow: hidden;
}
.mypageTotal {
  padding: 56px 0px 56px 0px;
  display: inline-block;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1920px;
  height: 2729px;
  position: relative;
  overflow: hidden;
}
.mypageProfile {
  padding: 10px 100px 10px 100px;
  display: flex;
  flex-direction: row;
  gap: 136px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1920px;
  height: 314px;
  position: relative;
  left: 1px;
  
  overflow: hidden;
}
.mypageUserIcon {
  flex-shrink: 0;
  width: 217px;
  height: 217px;
  position: absolute;
  left: 277px;
  top: 51px;
}
.profileNickname {
  color: #000000;
  text-align: left;
  font: 400 40px/28px "NanumGothic", sans-serif;
  position: absolute;
  left: 546px;
  top: 75px;
  width: 642px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.updateButton {
  background: #4da385;
  border-radius: 5px;
  padding: 0px 9px 0px 9px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 207px;
  height: 70px;
  position: absolute;
  left: 1258px;
  top: 80px;
  overflow: hidden;
  border:none;
}
.updateProfile {
  color: #ffffff;
  text-align: center;
  font: 700 30px/28px "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 94.5px);
  top: 0px;
  width: 189px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypageProfileNum{
  display: flex;
  flex-direction: row;
  gap: 136px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  height: 70px;
  position: absolute;
  left: 515px;
  top: 160px;
}
.myVisit {
  color: #000000;
  text-align: center;
  font: 400 25px/28px "NanumGothic", sans-serif;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.visitNum {
  color: #000000;
  text-align: center;
  font: 400 25px/28px "NanumGothic", sans-serif;
  position: absolute;
  left: 180px;
  top: 10px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid 1px;
  border-left-color: grey;
}
.myArticle {
  color: #000000;
  text-align: center;
  font: 400 25px/28px "NanumGothic", sans-serif;
  position: absolute;
  left: 360px;
  top: 10px;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myArticleNum {
  color: #000000;
  text-align: center;
  font: 400 25px/28px "NanumGothic", sans-serif;
  position: absolute;
  left: 540px;
  top: 10px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid 1px;
  border-left-color: grey;
}
.myReply {
  color: #000000;
  text-align: center;
  font: 400 25px/28px "NanumGothic", sans-serif;
  position: absolute;
  left: 720px;
  top: 10px;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myReplyNum {
  color: #000000;
  text-align: center;
  font: 400 25px/28px "NanumGothic", sans-serif;
  position: absolute;
  left: 900px;
  top: 10px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid 1px;
  border-left-color: grey;
}

.mypageNavi {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1920px;
  height: 163px;
  position: relative;
  left: calc(50% - 960px);
  
  padding-right : 150px;
  padding-left : 150px;
}
.mypageLike{
  color: #000000;
  text-align: center;
  font: 400 30px/28px "NanumGothic", sans-serif;
  position: relative;
  width: 380px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypageArticle{
  color: #000000;
  text-align: center;
  font: 400 30px/28px "NanumGothic", sans-serif;
  position: relative;
  width: 380px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypageReply{
  color: #000000;
  text-align: center;
  font: 400 30px/28px "NanumGothic", sans-serif;
  position: relative;
  width: 380px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypageReserve {
  color: #000000;
  text-align: center;
  font: 400 30px/28px "NanumGothic", sans-serif;
  position: relative;
  width: 380px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypageReviewList {
  flex-shrink: 0;
  width: 1920px;
  height: 1523px;
  position: relative;
  left: 0px;
  
  overflow: hidden;
}


.selectAll {
  display: flex;
  vertical-align: top;
  border-radius: 5px;
  position: absolute;
  right: 200px;
  top: 50px;
  font-size: 25px;
	
}
.selectCheck {
	width: 30px;
	height: 30px;
	margin-right: 10px;	
}

.reviewContents {
	height: 200px;
}
.mypageReview1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1500px;
  position: relative;
  left: calc(50% - 730px);
  transform: translate(0, -50%);
  margin-bottom: 50px;
}
.reviewImg1 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}
.reviewInfo1{
  color: #000000;
  text-align: left;
  font: 400 30px/45px "NanumGothic", sans-serif;
  position: absolute;
  left: 280px;
  top: 0px;
  width: 900px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reviewReply1 {
  color: #000000;
  text-align: left;
  font: 400 30px/45px "NanumGothic", sans-serif; 
  position: absolute;
  left: 280px;
  top: 79px;
  width: 900px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reviewStar1 {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: absolute;
  left: 280px;
  top: 160px;
  overflow: visible;
}
.reviewCheckbox1 {
  border-radius: 0px;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  top: 84px;
  overflow: visible;
  width: 30px;
  height: 30px;
}
.mypageReview2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1500px;
  position: relative;
  left: calc(50% - 730px);
  transform: translate(0, -50%);
  margin-bottom: 50px;
}
.reviewImg2 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}
.reviewInfo2{
  color: #000000;
  text-align: left;
  font: 400 30px/45px "NanumGothic", sans-serif;
  position: absolute;
  left: 280px;
  top: 0px;
  width: 900px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reviewReply2 {
  color: #000000;
  text-align: left;
  font: 400 30px/45px "NanumGothic", sans-serif; 
  position: absolute;
  left: 280px;
  top: 79px;
  width: 900px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reviewStar2 {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: absolute;
  left: 280px;
  top: 160px;
  overflow: visible;
}
.reviewCheckbox2 {
  border-radius: 0px;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  top: 84px;
  overflow: visible;
  width: 30px;
  height: 30px;
  	
}

.mypage-review__page-list {
  padding: 1px 331px 1px 331px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  height: 65px;
  position: absolute;
  left: calc(50% - 618px);
  top: 1388px;
  overflow: hidden;
}
.mypage-review__item-link-btn-pre-00-png {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.mypage-review__item-link-btn-pre-01-png {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.mypage-review__item {
  padding: 0px 11.75px 4px 11.25px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.mypage-review__link-1 {
  color: #626262;
  text-align: center;
  font: 400 14px/28px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage-review__link-2 {
  color: #626262;
  text-align: center;
  font: 400 14px/28px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage-review__link-3 {
  color: #626262;
  text-align: center;
  font: 400 14px/28px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage-review__link-4 {
  color: #626262;
  text-align: center;
  font: 400 14px/28px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage-review__link-5 {
  color: #626262;
  text-align: center;
  font: 400 14px/28px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage-review__link-6 {
  color: #626262;
  text-align: center;
  font: 400 14px/28px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage-review__link-7 {
  color: #626262;
  text-align: center;
  font: 400 14px/28px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage-review__link-8 {
  color: #626262;
  text-align: center;
  font: 400 14px/28px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage-review__link-9 {
  color: #626262;
  text-align: center;
  font: 400 14px/28px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage-review__item2 {
  padding: 0px 7.48px 4px 8.52px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.mypage-review__link-10 {
  color: #626262;
  text-align: center;
  font: 400 14px/28px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage-review__item-link-btn-next-01-png {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.mypage-review__item-link-btn-next-00-png {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.buttonDel {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 138px;
  height: 61px;
  position: relative;
  left: 1555px;
  background: #4da385;
  border-radius: 5px;
  border: none;
}
.del{
  color: #ffffff;
  text-align: center;
  font: 700 25px/45px "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 49px);
  top: 13px;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
