@font-face {
    font-family: 'Pretendard-medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


.commu-contents-list, .commu-contents-list * {
	box-sizing: border-box;
}

.commu-contents-list {
	background: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 9.79px;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: nowrap;
	width: 1880px;
	height: 3231.25px;
	position: relative;
	overflow: hidden;
}

.commu-contents-list__section-total {
	background: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 9.96px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: nowrap;
	flex-shrink: 0;
	width: 1880px;
	height: 3231.25px;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

.commu-contents-list__section-body {
	background: #ffffff;
	width: 1880px;
	height: 3231.25px;
	position: relative;
	overflow: hidden;
}

.commu-contents-list__best-contents {
	background: #fffdfd;
	width: 1588.24px;
	height: 654.22px;
	position: absolute;
	left: calc(50% - 794.62px);
	top: 228.03px;
	overflow: hidden;
}

.commu-contents-list__contents-box {
	background: #dddddd;
	padding: 2.99px 87.63px 2.99px 87.63px;
	display: flex;
	flex-direction: row;
	gap: 76.67px;
	align-items: flex-end;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 1409px;
	height: 571.57px;
	position: absolute;
	left: calc(50% - 704.5px);
	top: 0px;
	overflow: hidden;
}

.commu-contents-list__best {
	color: #000000;
	text-align: center;
	font: 800 31.86px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 475.97px;
	top: 0px;
	width: 470px;
	height: 61.74px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__box-3 {
	display: flex;
	flex-direction: column;
	gap: 1px;
	align-items: flex-end;
	justify-content: flex-start;
	flex-shrink: 0;
	left: 767.73px;
	top: 91.61px;
}

.commu-contents-list__ {
	color: #000000;
	text-align: center;
	font: 800 36.84px/17.92px "Pretendard-medium", sans-serif;
	position: relative;
	width: 248.94px;
	height: 59.75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__frame-189 {
	display: flex;
	flex-direction: row;
	gap: 9.96px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 249.94px;
	height: 406.73px;
	position: relative;
}

.commu-contents-list__rectangle-7 {
	background: #ffffff;
	flex-shrink: 0;
	width: 248.94px;
	height: 261px;
	position: relative;
}

.commu-contents-list__user {
	color: #000000;
	text-align: center;
	font: 400 23.9px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 36.84px;
	top: 269.85px;
	width: 129.45px;
	height: 24.89px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__free-icon-user-8484069-3 {
	flex-shrink: 0;
	width: 24.89px;
	height: 24.89px;
	position: absolute;
	left: 10.95px;
	top: 269.85px;
}

.commu-contents-list__image-3 {
	flex-shrink: 0;
	width: 24.89px;
	height: 26.24px;
	position: absolute;
	left: 175.25px;
	top: 269.85px;
}

.commu-contents-list___51 {
	color: #000000;
	text-align: center;
	font: 400 23.9px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 201.14px;
	top: 269.85px;
	width: 39.83px;
	height: 24.89px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__box-2 {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: flex-end;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 415.23px;
	top: 91.61px;
}

.commu-contents-list__frame-188 {
	display: flex;
	flex-direction: row;
	gap: 9.96px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 248.94px;
	height: 298.73px;
	position: relative;
}

.commu-contents-list__rectangle-6 {
	background: #ffffff;
	flex-shrink: 0;
	width: 248.94px;
	height: 298.73px;
	position: relative;
}

.commu-contents-list__free-icon-user-8484069-2 {
	flex-shrink: 0;
	width: 24.89px;
	height: 24.89px;
	position: absolute;
	left: 5.97px;
	top: 269.85px;
}

.commu-contents-list__image-2 {
	flex-shrink: 0;
	width: 24.89px;
	height: 26.24px;
	position: absolute;
	left: 182.22px;
	top: 269.85px;
}

.commu-contents-list___82 {
	color: #000000;
	text-align: center;
	font: 400 23.9px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 206.12px;
	top: 270.85px;
	width: 39.83px;
	height: 24.89px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__box-1 {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: flex-end;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 58.75px;
	top: 91.61px;
}

.commu-contents-list___1 {
	color: #000000;
	text-align: center;
	font: 800 36.84px/17.92px "Pretendard-medium", sans-serif;
	position: relative;
	width: 248.94px;
	height: 59.75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__frame-187 {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 248.94px;
	height: 298.73px;
	position: relative;
}

.commu-contents-list__rectangle-2 {
	background: #ffffff;
	flex-shrink: 0;
	width: 248.94px;
	height: 298.73px;
	position: relative;
}

.commu-contents-list___512 {
	color: #000000;
	text-align: center;
	font: 400 23.9px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 203.14px;
	top: 271.84px;
	width: 39.83px;
	height: 24.89px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__free-icon-user-8484069-1 {
	flex-shrink: 0;
	width: 24.89px;
	height: 24.89px;
	position: absolute;
	left: 5.97px;
	top: 269.85px;
}

.commu-contents-list__user2 {
	color: #000000;
	text-align: center;
	font: 400 23.9px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 39.83px;
	top: 269.85px;
	width: 129.45px;
	height: 24.89px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__image-1 {
	flex-shrink: 0;
	width: 23.62px;
	height: 24.89px;
	position: absolute;
	left: 179.24px;
	top: 269.85px;
}

.commu-contents-list__box-4 {
	display: flex;
	flex-direction: column;
	gap: 1px;
	align-items: flex-end;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 1110.28px;
	top: 91.61px;
}

.commu-contents-list__frame-190 {
	display: flex;
	flex-direction: row;
	gap: 9.96px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 248.94px;
	height: 298.73px;
	position: relative;
}

.commu-contents-list__rectangle-5 {
	background: #ffffff;
	flex-shrink: 0;
	width: 248.94px;
	height: 298.73px;
	position: relative;
}

.commu-contents-list__user3 {
	color: #000000;
	text-align: center;
	font: 400 23.9px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 31.86px;
	top: 268.86px;
	width: 129.45px;
	height: 24.89px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__free-icon-user-8484069-4 {
	flex-shrink: 0;
	width: 24.89px;
	height: 24.89px;
	position: absolute;
	left: 6.97px;
	top: 268.86px;
}

.commu-contents-list___513 {
	color: #000000;
	text-align: center;
	font: 400 23.9px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 205.13px;
	top: 270.85px;
	width: 39.83px;
	height: 24.89px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__image-4 {
	flex-shrink: 0;
	width: 24.89px;
	height: 26.24px;
	position: absolute;
	left: 180.23px;
	top: 269.85px;
}

.commu-contents-list__title {
	padding: 9.96px;
	display: flex;
	flex-direction: row;
	gap: 9.96px;
	align-items: center;
	justify-content: center;
	width: 229.03px;
	height: 69.7px;
	position: absolute;
	left: 193.18px;
	top: 72.69px;
}

.commu-contents-list__2 {
	color: #000000;
	text-align: center;
	font: 800 39.83px/17.92px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__search {
	display: flex;
	flex-direction: row;
	gap: 135.42px;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 716.95px;
	height: 185.21px;
	position: absolute;
	left: 928.05px;
	top: 14.94px;
	overflow: hidden;
	backdrop-filter: blur(1.99px);
}

.commu-contents-list__div-myp-02 {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 715.95px;
	height: 112.52px;
	position: absolute;
	left: 0px;
	top: 35.85px;
	overflow: hidden;
}

.commu-contents-list__options {
	background: #4da385;
	border-radius: 4.98px;
	border-style: solid;
	border-color: #c7c7c7;
	border-width: 1px;
	padding: 20px 0px 20px 0px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 192.18px;
	height: 72x;
	position: relative;
	color: #ffffff;
	text-align: center;
	font: 700 24.89px/24.89px "Pretendard-medium", sans-serif;
}

.commu-contents-list__3 {
	color: #ffffff;
	text-align: center;
	font: 700 24.89px/24.89px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 5.97px;
	top: -7.47px;
	width: 151.36px;
	height: 58.75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__div-sc-camp {
	background: #ffffff;
	border-radius: 4.98px;
	border-style: solid;
	border-color: #d1d1d1;
	border-width: 1px;
	flex-shrink: 0;
	width: 497.88px;
	height: 78px;
	position: relative;
	padding: 0px 50px 0px 30px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	overflow: hidden;
	color: #757575;
	text-align: left;
	font: 400 19.92px "Pretendard-medium", sans-serif;
}

.commu-contents-list__div-sc-camp:hover::placeholder {
	text-align: center;
	color: #000000;
}

.commu-contents-list__input {
	padding: 0px 282.21px 1.99px 0px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	height: 36.84px;
	position: absolute;
	right: 177.44px;
	left: 159.13229370117188px;
	top: 13.94px;
	overflow: hidden;
	color: #757575;
	text-align: center;
	font: 400 19.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 92.61px;
	top: 17.43px;
	width: 279.81px;
	height: 34.85px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__4 {
	color: #757575;
	text-align: center;
	font: 400 19.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 92.61px;
	top: 17.43px;
	width: 279.81px;
	height: 34.85px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__button {
	width: 23.9px;
	height: 23.9px;
	position: absolute;
	left: calc(50% - -300px);
	top: calc(50% - 11.95px);
}

.commu-contents-list__contents-1 {
 background: #ededed;
    position: relative;
    left: 182px;
    top: 829px;
    width: 1406px;
    height: 650px;
    margin-top: 10px;
    margin-bottom: 51px;
    margin-left: 53px;
    margin-right: 10px;
}

.commu-contents-list___00 {
color: #000000;
    text-align: center;
    font: 800 31.86px/17.92px "Pretendard-medium", sans-serif;
    position: relative;
    left: 13.94px;
    width: 281.86px;
    height: 92.53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commu-contents-list__free-icon-user-8484069-12 {
	width: 33.87px;
    height: 32.87px;
    position: relative;
    left: 41.82px;
}
	

.commu-contents-list__user-1 {
color: #000000;
    text-align: left;
    font: 400 29.87px/17.92px "Pretendard-medium", sans-serif;
    position: relative;
    left: 75.71px;
    width: 96.63px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    top: -41px;
}


.commu-contents-list__5 {
	    color: #000000;
    text-align: left;
    font: 400 19.92px/21.91px "Pretendard-medium", sans-serif;
    position: relative;
    left: 45.81px;
    width: 1323.47px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 101px;
    top: -32px;
}

.commu-contents-list___002 {
width: 1305.41px;
    height: 305.69px;
    position: relative;
    left: 43.76px;
    top: -20px;
}

.commu-contents-list__like-1 {
	    width: 25.62px;
    height: 26.89px;
    position: relative;
    left: -1261px;
    bottom: -28px;
}

.commu-contents-list___25 {
	color: #000000;
    text-align: center;
    font: 400 24.89px/17.92px "Pretendard-medium", sans-serif;
    position: relative;
    left: 81.76px;
    width: 35.63px;
    height: 22.9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commu-contents-list___12 {
	color: #000000;
    text-align: center;
    font: 400 26.89px/17.92px "Pretendard-medium", sans-serif;
    position: relative;
    left: 1208.86px;
    width: 86.63px;
    height: 40.9px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
}

.commu-contents-list___13 {
	color: #000000;
    text-align: center;
    font: 400 27.89px/17.92px "Pretendard-medium", sans-serif;
    position: relative;
    left: 1299.57px;
    width: 71.63px;
    height: 47.9px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -61px;
}

.commu-contents-list___3 {
	    color: #000000;
    text-align: center;
    font: 400 24.89px/17.92px "Pretendard-medium", sans-serif;
    position: relative;
    left: 158.39px;
    width: 41.77px;
    height: 25.9px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -113px;
}

.commu-contents-list__text-box-1 {
	width: 28.89px;
    height: 30.89px;
    position: relative;
    left: 129.45px;
    top: -143px;
}

.commu-contents-list__contents-2 {
	background: #ededed;
	width: 1410px;
	height: 600.44px;
	position: relative;
	left: calc(50% - 706px);
	top: 1579.62px;
	overflow: hidden;
}

.commu-contents-list___003 {
	color: #000000;
	text-align: center;
	font: 800 31.86px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 16.93px;
	top: 3.98px;
	width: 259.89px;
	height: 110.53px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list___004 {
	width: 1287.52px;
	height: 287.78px;
	position: absolute;
	left: 56.76px;
	top: 213.09px;
}

.commu-contents-list__free-icon-user-8484069-22 {
	width: 29.87px;
	height: 29.87px;
	position: absolute;
	left: 41.82px;
	top: 95.59px;
}

.commu-contents-list__user-2 {
	color: #000000;
	text-align: center;
	font: 400 29.87px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 67.71px;
	top: 97.59px;
	width: 86.63px;
	height: 22.9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__6 {
	color: #000000;
	text-align: left;
	font: 400 19.92px/21.91px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 45.8px;
	top: 147.37px;
	width: 1410px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.commu-contents-list__like-2 {
	width: 23.62px;
	height: 24.89px;
	position: absolute;
	left: 56.76px;
	top: 531.74px;
}

.commu-contents-list___2 {
	color: #000000;
	text-align: center;
	font: 400 24.89px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 1208.86px;
	top: 530.74px;
	width: 86.63px;
	height: 22.9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list___22 {
	color: #000000;
	text-align: center;
	font: 400 24.89px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 1275.57px;
	top: 530.74px;
	width: 86.63px;
	height: 22.9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__text-box-2 {
	width: 24.89px;
	height: 24.89px;
	position: absolute;
	left: 129.45px;
	top: 533.73px;
}

.commu-contents-list__contents-3 {
	background: #ededed;
	width: 1410px;
	height: 600.44px;
	position: absolute;
	left: calc(50% - 705px);
	top: 2277.31px;
	overflow: hidden;
}

.commu-contents-list___005 {
	color: #000000;
	text-align: center;
	font: 800 31.86px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 17.92px;
	top: 4.98px;
	width: 250.93px;
	height: 110.53px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__user-3 {
	color: #000000;
	text-align: center;
	font: 400 29.87px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 67.71px;
	top: 97.58px;
	width: 86.63px;
	height: 22.9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__like-3 {
	width: 23.62px;
	height: 24.89px;
	position: absolute;
	left: 56.76px;
	top: 531.74px;
}

.commu-contents-list___11 {
	color: #000000;
	text-align: center;
	font: 400 24.89px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 56.76px;
	top: 533.73px;
	width: 86.63px;
	height: 22.9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list___32 {
	color: #000000;
	text-align: center;
	font: 400 24.89px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 1208.86px;
	top: 530.74px;
	width: 86.63px;
	height: 22.9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list___33 {
	color: #000000;
	text-align: center;
	font: 400 24.89px/17.92px "Pretendard-medium", sans-serif;
	position: absolute;
	left: 1275.57px;
	top: 530.74px;
	width: 86.63px;
	height: 22.9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__text-box-3 {
	width: 24.89px;
	height: 24.89px;
	position: absolute;
	left: 129.45px;
	top: 533.73px;
}

.commu-contents-list__image-32 {
	width: 1287.52px;
	height: 287.78px;
	position: absolute;
	left: 61.74px;
	top: 208.11px;
}

.commu-contents-list__page-list {
	padding: 9.96px;
	display: flex;
	flex-direction: column;
	gap: 9.96px;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	left: 363.45px;
	top: 2993.26px;
}

.commu-contents-list__list {
	padding: 1px 329.6px 1px 329.6px;
	display: flex;
	flex-direction: row;
	gap: 6.97px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	height: 64.72px;
	position: relative;
	overflow: hidden;
}

.commu-contents-list__item-link-btn-pre-00-png {
	flex-shrink: 0;
	width: 31.86px;
	height: 31.86px;
	position: relative;
}

.commu-contents-list__item-link-btn-pre-01-png {
	flex-shrink: 0;
	width: 31.86px;
	height: 31.86px;
	position: relative;
}

.commu-contents-list__item {
	padding: 0px 11.7px 3.98px 11.2px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
}

.commu-contents-list__link-1 {
	color: #626262;
	text-align: center;
	font: 400 13.94px/27.88px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__link-2 {
	color: #626262;
	text-align: center;
	font: 400 13.94px/27.88px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__link-3 {
	color: #626262;
	text-align: center;
	font: 400 13.94px/27.88px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__link-4 {
	color: #626262;
	text-align: center;
	font: 400 13.94px/27.88px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__link-5 {
	color: #626262;
	text-align: center;
	font: 400 13.94px/27.88px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__link-6 {
	color: #626262;
	text-align: center;
	font: 400 13.94px/27.88px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__link-7 {
	color: #626262;
	text-align: center;
	font: 400 13.94px/27.88px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__link-8 {
	color: #626262;
	text-align: center;
	font: 400 13.94px/27.88px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__link-9 {
	color: #626262;
	text-align: center;
	font: 400 13.94px/27.88px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__item2 {
	padding: 0px 7.45px 3.98px 8.48px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
}

.commu-contents-list__link-10 {
	color: #626262;
	text-align: center;
	font: 400 13.94px/27.88px "Pretendard-medium", sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.commu-contents-list__item-link-btn-next-01-png {
	flex-shrink: 0;
	width: 31.86px;
	height: 31.86px;
	position: relative;
}

.commu-contents-list__item-link-btn-next-00-png {
	flex-shrink: 0;
	width: 31.86px;
	height: 31.86px;
	position: relative;
}

/* 글쓰기 버튼  */
.button-insert {
	background: #4da385;
	border-radius: 4.9px;
	padding: 21.54px 61.69px 21.54px 61.69px;
	display: flex;
	flex-direction: row;
	gap: 9.79px;
	align-items: center;
	justify-content: center;
	width: 157px;
	height: 65px;
	position: absolute;
	left: 235px;
	top: 156px;
	overflow: hidden;
	color: #ffffff;
	text-align: center;
	font: 700 23.33px "Pretendard-medium", sans-serif;
}