.questionContents,
.questionContents * {
  box-sizing: border-box;
}
.questionContents {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: 1600px;
  position: relative;
  overflow: hidden;
}
.questionContentsSectionTotal {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1920px;
  height: 1600px;
  max-width: 1920px;
  position: relative;
  overflow: hidden;
}
.questionContentsSectionBody {
  background: #ffffff;
  flex-shrink: 0;
  width: 1920px;
  height: 1600px;
  position: relative;
  overflow: hidden;
}
.questionContentsQuestionContents {
  background: #efefef;
  padding: 21px 13px 21px 13px;
  display: flex;
  flex-direction: row;
  gap: 444px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1591px;
  height: 594px;
  position: absolute;
  left: calc(50% - 795px);
  top: 128px;
  overflow: hidden;
}
.questionContentsA {
  color: #000000;
  text-align: left;
  font: 800 32px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 60px;
  top: 22px;
  width: 183px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.questionContentsCommentButton {
  background: #4da385;
  border-radius: 5px;
  padding: 3px 15px 3px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 163px;
  height: 70px;
  position: absolute;
  left: 1342px;
  top: 482px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
    color: #ffffff;
  text-align: center;
  font: 700 30px/18px "NanumGothic", sans-serif;

}

.questionContentsTitleNcontent {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1419px;
  height: 157px;
  position: absolute;
  left: 64px;
  top: 181px;
}
.questionContentsC {
  color: #000000;
  text-align: left;
  font: 400 30px/18px "NanumGothic", sans-serif;
  position: relative;
  width: 1419px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.questionContentsD {
  color: #000000;
  text-align: left;
  font: 400 25px/50px "NanumGothic", sans-serif;
  position: relative;
  width: 1419px;
  height: 101px;
}
.questionContentsName {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 64px;
  top: 117px;
}
.questionContentsE {
  color: #000000;
  text-align: left;
  font: 400 30px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 195px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.questionContentsIconBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 21px;
  position: absolute;
  left: 64px;
  top: 431px;
}
.questionContentsLike {
  flex-shrink: 0;
  width: 23.72px;
  height: 25px;
  position: relative;
}
.questionContentsF {
  color: #000000;
  text-align: center;
  font: 400 25px/18px "NanumGothic", sans-serif;
  position: relative;
  width: 55px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionContentsCommentIcon {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
}
.questionContentsG {
  color: #000000;
  text-align: center;
  font: 400 25px/18px "NanumGothic", sans-serif;
  position: relative;
  width: 87px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionContentsDateNbutton {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 462px;
  position: absolute;
  left: 1057px;
  top: 415px;
}
.questionContents2023 {
  color: #000000;
  text-align: center;
  font: 400 24px/18px "NanumGothic", sans-serif;
  position: relative;
  width: 332px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionContentsH {
  color: #000000;
  text-align: center;
  font: 400 25px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 288px;
  top: 16px;
  width: 87px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionContentsI {
  color: #000000;
  text-align: center;
  font: 400 25px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 375px;
  top: 16px;
  width: 87px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionContentsCommentBox {
  background: #ffffff;
  flex-shrink: 0;
  width: 1252px;
  height: 70px;
  position: absolute;
  left: 64px;
  top: 482px;
  font: 400 25px/50px "NanumGothic", sans-serif;
     resize: none;
}
.questionContentsComment {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1591px;
  height: 562px;
  position: absolute;
  left: 165px;
  top: 790px;
  overflow: hidden;
}
.questionContentsJ {
  color: #000000;
  text-align: center;
  font: 800 32px/18px "NanumGothic", sans-serif;
  position: relative;
  width: 125px;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionContentsComment1 {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0px 0px 2px 0px;
  flex-shrink: 0;
  width: 1593px;
  height: 129px;
  position: absolute;
  left: 0px;
  top: 93px;
  overflow: hidden;
}
.questionContentsK7 {
  color: #5a5a5a;
  text-align: center;
  font: 400 27px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 1483px;
  top: 64px;
  width: 90px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionContentsL {
  color: #000000;
  text-align: center;
  font: 400 25px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 1512px;
  top: 17px;
  width: 61px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionContentsM {
  color: #000000;
  text-align: center;
  font: 400 25px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 1446px;
  top: 17px;
  width: 63px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionContentsN {
  color: #000000;
  text-align: left;
  font: 400 27px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 32px;
  top: 68px;
  width: 867px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.questionContentsUser {
  color: #000000;
  text-align: left;
  font: 400 30px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 72px;
  top: 24px;
  width: 78px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.questionContentsProfileIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 32px;
  top: 21px;
}
.questionContentsComment2 {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0px 0px 2px 0px;
  flex-shrink: 0;
  width: 1593px;
  height: 129px;
  position: absolute;
  left: 0px;
  top: 222px;
  overflow: hidden;
}
.questionContentsO5 {
  color: #5a5a5a;
  text-align: center;
  font: 400 27px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 1483px;
  top: 64px;
  width: 90px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionContentsComment3 {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0px 0px 2px 0px;
  flex-shrink: 0;
  width: 1593px;
  height: 129px;
  position: absolute;
  left: 0px;
  top: 351px;
  overflow: hidden;
}
.questionContentsO3 {
  color: #5a5a5a;
  text-align: center;
  font: 400 27px/18px "NanumGothic", sans-serif;
  position: absolute;
  left: 1483px;
  top: 64px;
  width: 90px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
