@font-face {
    font-family: 'pretendard-medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/pretendard-medium-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



.questionUpdate,
.questionUpdate * {
  box-sizing: border-box;
}
.questionUpdate {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.5099vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 97.9167vw;
  position: relative;
  overflow: hidden;
}
.questionUpdateSectionTotal {
  display: flex;
  flex-direction: row;
  gap: 0.6120vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 97.9167vw;
  height: 67.7083vw;
  position: relative;
  overflow: hidden;
}
.questionUpdateSectionBody {
  flex-shrink: 0;
  width: 97.9167vw;
  height: 67.7083vw;
  position: relative;
  overflow: hidden;
}
.questionUpdateButton {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  width: 62.4729vw;
  height: 5.0490vw;
  position: absolute;
  left: 17.2885vw;
  top: 55.1802vw;
  overflow: hidden;
}
.questionUpdateLeaveButton {
  border-radius: 0.2552vw;
  border-style: solid;
  border-color: #4da385;
  border-width: 0.1021vw;
  flex-shrink: 0;
  width: 9.4854vw;
  height: 4.2839vw;
  position: absolute;
  left: 0.0000vw;
  top: 0.4078vw;
  overflow: hidden;
}
.questionUpdateB {
  color: #4da385;
  text-align: center;
  font: 700 1.6318vw "pretendard-medium", sans-serif;
  position: absolute;
  left: 1.0198vw;
  top: 0.0000vw;
  width: 7.4458vw;
  height: 4.2839vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionUpdateReviseButton {
  background: #4da385;
  border-radius: 0.2552vw;
  flex-shrink: 0;
  width: 9.4854vw;
  height: 4.2839vw;
  position: absolute;
  left: 52.9870vw;
  top: 0.4078vw;
  overflow: hidden;
}
.questionUpdate2 {
  color: #ffffff;
  text-align: center;
  font: 700 1.6318vw "pretendard-medium", sans-serif;
  position: absolute;
  left: 1.0198vw;
  top: 0.0000vw;
  width: 7.4458vw;
  height: 4.2839vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionUpdateTitle {
  display: flex;
  flex-direction: row;
  gap: 0.5099vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  left: 17.2885vw;
  top: 6.5786vw;
}
.questionUpdate3 {
  color: #000000;
  text-align: center;
  font: 700 1.6318vw "pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questioUpdateInputBox {
  padding: 0.5099vw;
  display: flex;
  flex-direction: column;
  gap: 0.5099vw;
  align-items: flex-start;
  justify-content: flex-start;
  width: 62.4729vw;
  height: 43.2464vw;
  position: absolute;
  left: 17.2885vw;
  top: 10.4036vw;
}
.questionUpdateLine1 {
  border-style: solid;
  border-color: #000000;
  border-width: 0.0510vw 0 0 0;
  flex-shrink: 0;
  width: 58.3932vw;
  height: 0.0000vw;
  position: absolute;
  left: 1.7849vw;
  top: 7.3438vw;
}

.questionUpdateBox {
  border-style: solid;
  border-color: #000000;
  border-width: 0.0510vw;
  flex-shrink: 0;
  width: 62.4729vw;
  height: 43.2464vw;
  position: absolute;
  left: 0.0000vw;
  top: 0.0000vw;
}
.questionUpdate4 {
  border-color: #000000;
  text-align: left;
  font: 700 1.6318vw "pretendard-medium", sans-serif;
  position: absolute;
  left: 2.0854vw;
  top: 2.5370vw;
  width: 57.3297vw;
  height: 2.6661vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  resize: none;
}
.questionUpdate5 {
   border-color: #000000;
  text-align: left;
  font: 500 1.6318vw "pretendard-medium", sans-serif;
  position: absolute;
  left: 2.2437vw;
  top: 8.5938vw;
  width: 57.3297vw;
  height: 32.9536vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color : #000000;
   resize: none;
}
