.popup-write-review,
.popup-write-review * {
  box-sizing: border-box;
}
.popup-write-review {
  background: #ffffff;
  width: 700px;
  height: 722px;
  position: relative;
  overflow: hidden;
}
.popup-write-review__button {
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 625px;
  top: 26px;
}
.popup-write-review__x {
  color: #d9d9d9;
  text-align: center;
  font: 700 13px/44px "Inter", sans-serif;
  position: relative;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-write-review__section-body {
  width: 700px;
  height: 500px;
  position: absolute;
  left: 0px;
  top: 222px;
  overflow: hidden;
}
.popup-write-review__section-reply {
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 589px;
  height: 213px;
  position: absolute;
  left: calc(50% - 295px);
  top: 149px;
}
.popup-write-review__ {
  color: #000000;
  text-align: left;
  font: 700 13px/44px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.popup-write-review__section-star {
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 700px;
  height: 118px;
  position: absolute;
  left: 1px;
  top: 6px;
}
.popup-write-review__2 {
  color: #000000;
  text-align: center;
  font: 700 13px/44px "Inter", sans-serif;
  position: relative;
  width: 401px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-write-review__star {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.popup-write-review__button-write {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 193px;
  height: 44px;
  position: absolute;
  left: calc(50% - 97px);
  top: 374px;
}
.popup-write-review__rectangle-15 {
  border-radius: 0px;
  flex-shrink: 0;
  position: absolute;
  left: 3px;
  top: 8px;
  overflow: visible;
}
.popup-write-review__3 {
  color: #777777;
  text-align: center;
  font: 700 14px/45px "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 50.5px);
  top: 8px;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-write-review__main-logo {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 550px;
  position: absolute;
  left: calc(50% - 275px);
  top: 48px;
}
.popup-write-review__camppy-2 {
  background: linear-gradient(
    to left,
    rgba(240, 241, 245, 0.2),
    rgba(240, 241, 245, 0.2)
  );
  flex-shrink: 0;
  width: 225px;
  height: 174px;
  position: relative;
}
