.mainpage,
.mainpage * {
  box-sizing: border-box;
}
.mainpage {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 9.79px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 2024.92px;
  position: relative;
  overflow: hidden;
}
.mainpage__section-total {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.98px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: 2024.92px;
  max-width: 1880px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.mainpage__search-box-frame {
  padding: 9.79px;
  display: flex;
  flex-direction: row;
  gap: 9.79px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1880px;
  height: 313.33px;
  position: relative;
}
.mainpage__search-box {
  padding: 33.29px 39.17px 47.98px 39.17px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 881.25px;
  height: 274.17px;
  position: absolute;
  left: calc(50% - 440.62px);
  top: 36.23px;
}
.mainpage__searchbox-form {
  padding: 27.42px 31.33px 27.42px 31.33px;
  display: flex;
  flex-direction: row;
  gap: 13.71px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 768.65px;
  position: absolute;
  left: 54.83px;
  top: 39.17px;
}
.mainpage__form-1 {
  flex-shrink: 0;
  width: 599.25px;
  height: 44.06px;
  position: relative;
}
.mainpage__options-2 {
  background: #efefef;
  border-radius: 4.9px;
  width: 362.29px;
  height: 43.08px;
  position: absolute;
  left: 237.94px;
  top: 0.98px;
}
.mainpage__options-2-1 {
  padding: 0px 189.96px 0.98px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: -0.00008392333984375px;
  top: calc(50% - 22.98px);
  overflow: hidden;
}
.mainpage__ {
  color: #626262;
  text-align: center;
  font: 400 12.73px/43.08px "NanumGothic", sans-serif;
  position: relative;
  width: 99.88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__options-1 {
  background: #efefef;
  border-radius: 4.9px;
  width: 228.15px;
  height: 44.06px;
  position: absolute;
  left: 0px;
  top: calc(50% - 22.03px);
}
.mainpage__option-1-1 {
  padding: 0px 106.73px 0.98px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 44.06px;
  position: absolute;
  right: 7.83px;
  left: 88.12490844726562px;
  top: calc(50% - 22.03px);
  overflow: hidden;
}
.mainpage__2 {
  color: #626262;
  text-align: center;
  font: 400 12.73px/43.08px "NanumGothic", sans-serif;
  position: absolute;
  left: 1.96px;
  top: 0px;
  width: 86.17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__button {
  background: #4da385;
  border-radius: 9.79px;
  flex-shrink: 0;
  width: 93.02px;
  height: 43.08px;
  position: relative;
}
.mainpage__3 {
  color: #ffffff;
  text-align: center;
  font: 700 14.69px/43.08px "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 46.51px);
  top: calc(50% - 13.71px);
  width: 93.02px;
  height: 26.44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__form-2 {
  flex-shrink: 0;
  width: 599.25px;
  height: 44.06px;
  position: relative;
}
.mainpage__options-12 {
  background: #efefef;
  border-radius: 4.9px;
  width: 599.25px;
  height: 43.08px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.mainpage__popular-info {
  border-style: solid;
  border-color: #000000;
  border-width: 0.98px 0px 0px 0px;
  padding: 0px 64.62px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 123.38px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1880px;
  height: 1710.6px;
  position: relative;
  overflow: hidden;
}
.mainpage__info-6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  /* left: 1299.35px;
  top: 909.65px; */
}
.mainpage__forest-7 {
  flex-shrink: 0;
  width: 600px;
  height: 600px;
  position: relative;
}
.mainpage__4 {
  color: #000000;
  text-align: center;
  font: 400 23.5px/27.42px "NanumGothic", sans-serif;
  position: relative;
 /*  width: 440.62px; */
/*   height: 44.06px; */
 /*  display: flex;
  align-items: center;
  justify-content: center; */
}
.mainpage__info-5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 719.69px;
  top: 909.65px;
}
.mainpage__forest-6 {
  flex-shrink: 0;
  width: 440.62px;
  height: 440.62px;
  position: relative;
}
.mainpage__info-4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 93.02px;
  top: 909.65px;
}
.mainpage__forest-5 {
  flex-shrink: 0;
  width: 440.62px;
  height: 440.62px;
  position: relative;
}
.mainpage__info-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 1299.35px;
  top: 146.88px;
}
.mainpage__forest-1 {
  flex-shrink: 0;
  width: 440.62px;
  height: 440.62px;
  position: relative;
}
.mainpage__info-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: calc(50% - 220.31px);
  top: 146.88px;
}
.mainpage__forest-2 {
  flex-shrink: 0;
  width: 440.62px;
  height: 440.62px;
  position: relative;
}
.mainpage__info-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 93.02px;
  top: 146.88px;
}
.mainpage__forest-3 {
  flex-shrink: 0;
  width: 440.62px;
  height: 440.62px;
  position: relative;
}
.mainpage__list {
  padding: 0.98px 324.1px 0.98px 324.1px;
  display: flex;
  flex-direction: row;
  gap: 6.85px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 63.65px;
  position: absolute;
  left: calc(50% - 589.49px);
  top: 1566.67px;
  overflow: hidden;
}
.mainpage__item-link-btn-pre-00-png {
  flex-shrink: 0;
  width: 31.33px;
  height: 31.33px;
  position: relative;
}
.mainpage__item-link-btn-pre-01-png {
  flex-shrink: 0;
  width: 31.33px;
  height: 31.33px;
  position: relative;
}
.mainpage__item {
  padding: 0px 11.51px 3.92px 11.02px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.mainpage__link-1 {
  color: #ffffff;
  text-align: center;
  font: 400 13.71px/27.42px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-2 {
  color: #626262;
  text-align: center;
  font: 400 13.71px/27.42px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-3 {
  color: #626262;
  text-align: center;
  font: 400 13.71px/27.42px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-4 {
  color: #626262;
  text-align: center;
  font: 400 13.71px/27.42px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-5 {
  color: #626262;
  text-align: center;
  font: 400 13.71px/27.42px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-6 {
  color: #626262;
  text-align: center;
  font: 400 13.71px/27.42px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-7 {
  color: #626262;
  text-align: center;
  font: 400 13.71px/27.42px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-8 {
  color: #626262;
  text-align: center;
  font: 400 13.71px/27.42px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-9 {
  color: #626262;
  text-align: center;
  font: 400 13.71px/27.42px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__item2 {
  padding: 0px 7.32px 3.92px 8.34px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.mainpage__link-10 {
  color: #626262;
  text-align: center;
  font: 400 13.71px/27.42px "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__item-link-btn-next-01-png {
  flex-shrink: 0;
  width: 31.33px;
  height: 31.33px;
  position: relative;
}
.mainpage__item-link-btn-next-00-png {
  flex-shrink: 0;
  width: 31.33px;
  height: 31.33px;
  position: relative;
}
.mainpage__5 {
  color: #000000;
  text-align: center;
  font: 400 24.48px/43.08px "NanumGothic", sans-serif;
  position: absolute;
  left: 5.88px;
  top: 32.31px;
  width: 173.31px;
  height: 68.54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
