
@font-face {
    font-family: 'Pretendard-medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.mainpage,
.mainpage * {
  box-sizing: border-box;
}
.mainpage {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.5099vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: fit-content;
  position: relative;
  overflow: hidden;
  margin: 13.0208vw 0.0000vw 0.0000vw 0.0000vw;
  width: 99.14vw;
}
.mainpage__section-total {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.0510vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: fit-content;
  max-width: 99.14vw;
  width: 99.14vw;
  position: relative;
  left: 0.0000vw;
  top: 0.0000vw;
  overflow: hidden;
}
.mainpage__search-box-frame {
 /*  padding: 0.5099vw; */
  display: flex;
  flex-direction: row;
/*   gap: 0.5099vw; */
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 97.9167vw;
  height: 2.6042vw;
  position: relative;
}
.mainpage__search-box {
  padding: 1.7339vw 2.0401vw 2.4990vw 2.0401vw;
  display: flex;
  flex-direction: row;
/*   gap: 0.0000vw; */
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
 /*  width: 45.8984vw;
  height: 14.2797vw; */
  position: relative;
 /*  left: calc(50% - 22.9490vw); */
 margin: 0 auto;
  /* top: 1.8870vw; */
}
.mainpage__searchbox-form {
  padding: 1.4281vw 1.6318vw 1.4281vw 1.6318vw;
  display: flex;
  flex-direction: row;
  gap: 0.7141vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 40.0339vw;
  position: relative;
  left: 2.8557vw;
  top: 2.0401vw;
}
.mainpage__form-1 {
  flex-shrink: 0;
  width: 31.2109vw;
  height: 2.2948vw;
  position: relative;
  display: flex;
  flex-direction: row;
  
}

.mainpage__options-1 {
  background: #efefef;
  border-radius: 0.2552vw;
  width: 15.6250vw;
  height: 2.2917vw;
  position: relative;
  padding-left: 2.0833vw;
  border: 0.0521vw solid #ddd;    
  color: #626262;
  text-align: left;
  font: 400 1.0417vw/2.2437vw "Pretendard-medium", sans-serif;
  
  background: #efefef;
}
.mainpage__options-2 {
  background: #efefef;
  border-radius: 0.2552vw;
  width: 15.6250vw;
  height: 2.2917vw;
  position: relative;
  left: 1.3vw;
  top: 0vw;
  padding-left: 2.0833vw;
    border: 0.0521vw solid #ddd;    
    
	color: #626262;
  text-align: left;
  font: 400 1.0417vw/2.2437vw "Pretendard-medium", sans-serif;
  
  background: #efefef;
}
.mainpage__options-12 {
  background: #efefef;
  border-radius: 0.2552vw;
  width: 24.3750vw;
  height: 2.2917vw;
  position: relative;
  left: 0.0000vw;
  top: 0.0000vw;
  
   padding-left: 2.0833vw;
    border: 0.0521vw solid #ddd;    
    
	color: #626262;
  text-align: left;
  font: 400 1.0417vw/2.2437vw "Pretendard-medium", sans-serif;
  
  background: #efefef;
}
.mainpage__options-13 {
  background: #efefef;
  border-radius: 0.2552vw;
  width: 30.1563vw;
  height: 2.2917vw;
  position: relative;
  left: 0.0000vw;
  top: 0.0000vw;
  
   padding-left: 2.0833vw;
    border: 0.0521vw solid #ddd;    
    
	color: #626262;
  text-align: left;
  font: 400 1.0417vw/2.2437vw "Pretendard-medium", sans-serif;
  
  background: #efefef;
}
.mainpage__options-2-1 {
  padding: 0.0000vw 9.8938vw 0.0510vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  right: 0.0000vw;
  left: -0.0000vw;
  top: calc(50% - 1.1969vw);
  overflow: hidden;
}
.mainpage__ {
  color: #626262;
  text-align: center;
  font: 400 0.6630vw/2.2437vw "Pretendard-medium", sans-serif;
  position: relative;
  width: 5.2021vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainpage__option-1-1 {
  padding: 0.0000vw 5.5589vw 0.0510vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  height: 2.2948vw;
  position: relative;
  right: 0.4078vw;
  left: 4.5898vw;
  top: calc(50% - 1.1474vw);
  overflow: hidden;
}
.mainpage__2 {
  color: #626262;
  text-align: center;
  font: 400 0.6630vw/2.2437vw "Pretendard-medium", sans-serif;
  position: relative;
  left: 0.1021vw;
  top: 0.0000vw;
  width: 4.4880vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__button {
  background: #4da385;
  border-radius: 0.5099vw;
  flex-shrink: 0;
  width: 4.8448vw;
  height: 2.2437vw;
      left: -4.4271vw;
  position: relative;
  
  
    border: 0.0521vw solid #ddd;    
    
	}
.mainpage__3 {
  cursor : pointer !important;
  color: #ffffff;
  text-align: center;
  font: 700 0.7651vw/2.2437vw "Pretendard-medium", sans-serif;
  position: relative;
  left: calc(50% - 2.4224vw);
  top: calc(50% - 0.7141vw);
  width: 4.8448vw;
  height: 1.3771vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__form-2 {
  flex-shrink: 0;
  width: 31.2109vw;
  height: 2.2948vw;
  position: relative;
}

.mainpage__popular-info {

  border-style: solid;
    border-color: #000000;
    border-width: 0.0510vw 0.0000vw 0.0000vw 0.0000vw;
    /* padding: 0.0000vw 3.3656vw 0.0000vw 0.0000vw; */
    display: flex;
    flex-direction: row;
    gap: 6.4260vw;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 99.14vw;
    height: fit-content;
    top: 0.0000vw;
    position: relative;
    overflow: hidden;
}
.mainpage__info-6 {
  display: flex;
  flex-direction: column;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  /* left: 67.6745vw;
  top: 47.3776vw; */
}
.mainpage__forest-7 {
  flex-shrink: 0;
  width: 32.8125vw;
  height: 32.8125vw;
  position: relative;
}
.mainpage__4 {
  color: #000000;
  text-align: center;
  font: 400 1.2240vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
 /*  width: 22.9490vw; */
/*   height: 2.2948vw; */
 /*  display: flex;
  align-items: center;
  justify-content: center; */
}
.mainpage__info-5 {
  display: flex;
  flex-direction: column;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  left: 37.4839vw;
  top: 47.3776vw;
}
.mainpage__forest-6 {
  flex-shrink: 0;
  width: 22.9490vw;
  height: 22.9490vw;
  position: relative;
}
.mainpage__info-4 {
  display: flex;
  flex-direction: column;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  left: 4.8448vw;
  top: 47.3776vw;
}
.mainpage__forest-5 {
  flex-shrink: 0;
  width: 22.9490vw;
  height: 22.9490vw;
  position: relative;
}
.mainpage__info-3 {
  display: flex;
  flex-direction: column;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  left: 67.6745vw;
  top: 7.6500vw;
}
.mainpage__forest-1 {
  flex-shrink: 0;
  width: 22.9490vw;
  height: 22.9490vw;
  position: relative;
}
.mainpage__info-2 {
  display: flex;
  flex-direction: column;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  left: calc(50% - 11.4745vw);
  top: 7.6500vw;
}
.mainpage__forest-2 {
  flex-shrink: 0;
  width: 22.9490vw;
  height: 22.9490vw;
  position: relative;
}
.mainpage__info-1 {
  display: flex;
  flex-direction: column;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  left: 4.8448vw;
  top: 7.6500vw;
}
.mainpage__forest-3 {
  flex-shrink: 0;
  width: 22.9490vw;
  height: 22.9490vw;
  position: relative;
}
.mainpage__list {
  padding: 0.0510vw 16.8802vw 0.0510vw 16.8802vw;
  display: flex;
  flex-direction: row;
  gap: 0.3568vw;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 5.3151vw;
  width: fit-content;
  position: relative;
/*   left: calc(50% - 30.7026vw); */
  /* top: 81.5974vw; */
  bottom: 0.0000vw;
  overflow: hidden;
  margin: 0 auto;
}
.mainpage__item-link-btn-pre-00-png {
  flex-shrink: 0;
  width: 1.6318vw;
  height: 1.6318vw;
  position: relative;
}
.mainpage__item-link-btn-pre-01-png {
  flex-shrink: 0;
  width: 1.6318vw;
  height: 1.6318vw;
  position: relative;
}
.mainpage__item {
  padding: 0.0000vw 0.5995vw 0.2042vw 0.5740vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.mainpage__link-1 {
  color: #ffffff;
  text-align: center;
  font: 400 0.7141vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-2 {
  color: #626262;
  text-align: center;
  font: 400 0.7141vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-3 {
  color: #626262;
  text-align: center;
  font: 400 0.7141vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-4 {
  color: #626262;
  text-align: center;
  font: 400 0.7141vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-5 {
  color: #626262;
  text-align: center;
  font: 400 0.7141vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-6 {
  color: #626262;
  text-align: center;
  font: 400 0.7141vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-7 {
  color: #626262;
  text-align: center;
  font: 400 0.7141vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-8 {
  color: #626262;
  text-align: center;
  font: 400 0.7141vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__link-9 {
  color: #626262;
  text-align: center;
  font: 400 0.7141vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__item2 {
  padding: 0.0000vw 0.3813vw 0.2042vw 0.4344vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.mainpage__link-10 {
  color: #626262;
  text-align: center;
  font: 400 0.7141vw/1.4281vw "Pretendard-medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage__item-link-btn-next-01-png {
  flex-shrink: 0;
  width: 1.6318vw;
  height: 1.6318vw;
  position: relative;
}
.mainpage__item-link-btn-next-00-png {
  flex-shrink: 0;
  width: 1.6318vw;
  height: 1.6318vw;
  position: relative;
}
.mainpage__5 {
  color: #000000;
  text-align: center;
  font: 400 1.2750vw/2.2437vw "Pretendard-medium", sans-serif;
  position: relative;
  left: 0.3063vw;
  top: 1.6828vw;
  width: 9.0266vw;
  height: 3.5698vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .mainpage__list { */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* 	margin: 1.0417vw; */
/* 	left: 29.1667vw; */
/* } */

.mainpage__list a {
	text-decoration: none;
	padding: 0.4167vw 0.8333vw;
	margin: 0 0.2083vw;
	border: 0.0521vw solid #ccc;
	border-radius: 0.2083vw;
	color: #333;
	transition: background-color 0.3s, color 0.3s;
}

.mainpage__list a.active {
	background-color: #4da285;
	color: white;
}

.mainpage__list a:hover {
	background-color: #333;
	color: #fff;
}