.questionList,
.questionList * {
  box-sizing: border-box;
}
.questionList {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.5099vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 97.9167vw;
  height: 9.8958vw;
  position: relative;
  overflow: hidden;
}
.questionListSectionTotal {
  display: flex;
  flex-direction: row;
  gap: 0.6120vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 97.9167vw;
  height: 81.5974vw;
  position: relative;
  overflow: hidden;
}

.questionListA {
  color: #000000;
  text-align: center;
  font: 700 2.8047vw/1.4281vw "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 6.5786vw);
  top: 0.0000vw;
  width: 13.1573vw;
  height: 7.1396vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionListListBody {
	border-style: solid;
    border-color: #b3b3b3;
    border-width: 0.0000vw 0.0000vw 0.0510vw 0.0000vw;
    display: flex;
    flex-direction: row;
    gap: 0.0000vw;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 59.8958vw;
    height: 4.5391vw;
    position: relative;
    margin-top: 0.5208vw;
}


.questionListNum {
 
  padding: 1.3516vw 1.9505vw 1.4536vw 1.9411vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 2.5521vw;
  position: relative;
}
.questionListB {
  color: #777777;
  text-align: center;
  font: 400 1.0198vw/0.9177vw "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionListTitle {

  padding: 1.3005vw 12.9833vw 1.5047vw 0.7141vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 2.7083vw;
  position: relative;
}
.questionList2023Event {
  color: #333333;
  text-align: left;
  font: 400 1.0198vw/0.9177vw "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.questionListC {
  color: #777777;
  text-align: center;
  font: 400 0.8672vw/0.9177vw "Inter", sans-serif;
  position: relative;
  width: 4.8958vw;
  height: 2.0911vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.questionListNum2 {

  padding: 1.3516vw 1.3599vw 1.4536vw 1.3401vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1.1458vw;
  height: 2.5521vw;
  position: absolute;
  left: 69.8677vw;

}
.questionListD {
  color: #777777;
  text-align: left;
  font: 400 1.0198vw/0.9177vw "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.questionListList2 {
  cursor : pointer !important;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0.0000vw 0.0000vw 0.0510vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73.0297vw;
  height: 5.3036vw;
  position: relative;
  left: 10.7813vw;
/*   top: 15.6250vw; */
}
.questionList2023Event {
  color: #333333;
  text-align: left;
  font: 400 1.0198vw/0.9177vw "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.questionListAdmin2 {

  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 5.5589vw;
  height: 5.6099vw;
  position: absolute;
  left: 55.2313vw;
  top: calc(50% - 2.7536vw);
}
.questionListD {
  color: #777777;
  text-align: center;
  font: 400 0.8672vw/0.9177vw "Inter", sans-serif;
  position: relative;
  width: 3.8760vw;
  height: 2.3969vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionListDate2 {
 
  padding: 1.3516vw 0.0000vw 1.4536vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 7.8536vw;
  height: 2.8646vw;
  position: absolute;
  left: 61.3510vw;

}
.questionList2023 {
  color: #777777;
  text-align: center;
  font: 400 0.8672vw/0.9177vw "Inter", sans-serif;
  position: relative;
  width: 6.7828vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 번호제목작성자등록일조회 */

.questionListBoardList {
  background: #fbfdff;
  border-style: solid;
  border-color: #707070;
  border-width: 0.0521vw 0.0000vw 0.0521vw 0.0000vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 72.9167vw;
  height: 3.4677vw;
  position: relative;
  left: 10.7813vw;
/*   top: 0.8672vw; */
}
.questionListCell1 {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 5.1000vw;
  height: 3.3656vw;
  position: relative;
  left: 0.5208vw
}
.questionList4 {
  color: #000000;
  text-align: center;
  font: 400 1.0198vw/0.9177vw "Inter", sans-serif;
  position: absolute;
  left: 0.0000vw;
  top: calc(50% - 1.6828vw);
  width: 5.1000vw;
  height: 3.3656vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionListCell2 {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 49.3151vw;
  height: 3.3151vw;
  position: absolute;
  left: 5.4688vw;
  top: 0.1531vw;
}

.questionList5 {
  color: #000000;
  text-align: center;
  font: 400 1.0198vw/0.9177vw "Inter", sans-serif;
  position: relative;
  width: 49.3151vw;
  height: 3.3151vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionListCell3 {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 5.8646vw;
  height: 3.4677vw;
  position: absolute;
  left: 55.25vw;
  top: calc(50% - 1.7339vw);
}
.questionList6 {
  color: #000000;
  text-align: center;
  font: 400 1.0198vw/0.9177vw "Inter", sans-serif;
  position: absolute;
  left: 0.0000vw;
  top: calc(50% - 1.7339vw);
  width: 5.8646vw;
  height: 3.4677vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionListCell4 {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 6.6297vw;
  height: 3.4167vw;
  position: absolute;
  left: 62vw;
  top: calc(50% - 1.7339vw);
}
.questionList7 {
  color: #000000;
  text-align: center;
  font: 400 1.0198vw/0.9177vw "Inter", sans-serif;
  position: absolute;
  left: 0.0000vw;
  top: calc(50% - 1.7083vw);
  width: 6.6297vw;
  height: 3.4167vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionListCell5 {
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.3349vw;
  height: 3.4167vw;
  position: absolute;
  left: 69.5615vw;
  top: 0.0000vw;
}
.questionList8 {
  color: #000000;
  text-align: center;
  font: 400 1.0198vw/0.9177vw "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 2.1677vw);
  top: calc(50% - 1.7083vw);
  width: 4.3349vw;
  height: 3.4167vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.writebtn {
  cursor : pointer !important;
  border-radius: 0.2552vw;
  border-style: solid;
  border-color: #4da385;
  border-width: 0.1021vw;
  flex-shrink: 0;
  width: 5.8917vw;
  height: 1.8750vw;
  position: absolute;
  left: 77.9688vw;
  top: 30.4688vw;
  overflow: hidden;
  color: #4da385;
  font: 700 0.8333vw "Inter", sans-serif;
   text-align: center;
}
/* #pageControl { */
/* 	color: #000000; */
/*     text-align: center; */
/*     font: 400 1.0198vw/0.9177vw "Inter", sans-serif; */
/*     position: relative; */
/*     display: flex; */
/*     position: relative; */
/*     left: 43.2292vw; */
/*     margin: 1.5625vw; */
/*     gap: 2.6042vw; */
    
/* } */
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	left: 940px;
}

.pagination a {
	text-decoration: none;
	padding: 8px 16px;
	margin: 0 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #333;
	transition: background-color 0.3s, color 0.3s;
}

.pagination a.active {
	background-color: #4da285;
	color: white;
}

.pagination a:hover {
	background-color: #333;
	color: #fff;
}