.campinfo-review,
.campinfo-review * {
  box-sizing: border-box;
}
.campinfo-review {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 120.0625rem;
  height: 152.6875rem;
  position: relative;
  overflow: hidden;
}
.campinfo-review__total-section {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 120rem;
  height: 152.6875rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.campinfo-review__main-page {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.0625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 120rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.campinfo-review__header-insert-login {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 120rem;
  height: 4.5625rem;
  position: relative;
}
.campinfo-review__login {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 27.8125rem;
  height: 3.4375rem;
  position: absolute;
  left: 96.0625rem;
  top: 1.125rem;
}
.campinfo-review___000 {
  color: #000000;
  text-align: left;
  font: 400 1.25rem/1.375rem "NanumGothic", sans-serif;
  position: absolute;
  left: 3.8125rem;
  top: 0.8125rem;
  width: 10.3125rem;
  height: 1.9375rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__free-icon-user-8484069-1 {
  flex-shrink: 0;
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  left: 0rem;
  top: 0.25rem;
}
.campinfo-review__button {
  background: #4da385;
  border-radius: 0.3125rem;
  flex-shrink: 0;
  width: 5.9375rem;
  height: 2.75rem;
  position: absolute;
  left: 15.125rem;
  top: 0.3125rem;
}
.campinfo-review__ {
  color: #ffffff;
  text-align: center;
  font: 700 0.9375rem/2.75rem "Inter", sans-serif;
  position: absolute;
  left: 1rem;
  top: 0.5625rem;
  width: 4rem;
  height: 1.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__section-header {
  background: rgba(240, 241, 245, 0.1);
  padding: 0rem 0.625rem 0rem 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 120rem;
  height: 17.4375rem;
  position: relative;
  overflow: hidden;
}
.campinfo-review__main-logo {
  padding: 0rem 0.625rem 0rem 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 120rem;
  position: relative;
}
.campinfo-review__camppy-2 {
  background: linear-gradient(
    to left,
    rgba(240, 241, 245, 0.2),
    rgba(240, 241, 245, 0.2)
  );
  flex-shrink: 0;
  width: 22.75rem;
  height: 14.375rem;
  position: absolute;
  left: 48.625rem;
  top: 1.6875rem;
}
.campinfo-review__section-navi {
  background: #e1e3e9;
  padding: 1.0625rem 0.625rem 1.0625rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 120rem;
  height: 6.8125rem;
  position: relative;
  overflow: hidden;
}
.campinfo-review__navi-list {
  padding: 0.9375rem 10.25rem 0.9375rem 10.25rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 117.75rem;
  position: absolute;
  left: calc(50% - 58.8125rem);
  top: 0.5625rem;
}
.campinfo-review__navi-list-1 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 12.5rem;
  height: 3.75rem;
  position: absolute;
  left: 17.9375rem;
  top: 1.25rem;
}
.campinfo-review__link {
  color: #000000;
  text-align: center;
  font: 400 1.5rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 5rem);
  top: 0.25rem;
  width: 10rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__navi-list-2 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 12.5rem;
  height: 3.75rem;
  position: absolute;
  left: 40.3125rem;
  top: 1.25rem;
}
.campinfo-review__link2 {
  color: #000000;
  text-align: center;
  font: 400 1.5rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 5rem);
  top: 0.3125rem;
  width: 10rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__navi-list-3 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 12.5rem;
  height: 3.75rem;
  position: absolute;
  left: 62.6875rem;
  top: 1.25rem;
}
.campinfo-review__navi-list-4 {
  padding: 0rem 1.125rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 12.5rem;
  height: 3.75rem;
  position: absolute;
  left: 85.0625rem;
  top: 1.25rem;
}
.campinfo-review__info-banner {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 119.8125rem;
  height: 22.5625rem;
  position: absolute;
  left: 0rem;
  top: 28.9375rem;
}
.campinfo-review__banner-section-total {
  flex-shrink: 0;
  width: 120rem;
  height: 22.625rem;
  position: relative;
}
.campinfo-review__banner-middle-section {
  width: 75rem;
  height: 10rem;
  position: absolute;
  left: calc(50% - 37.6875rem);
  top: 5.875rem;
}
.campinfo-review__banner-section {
  width: 120rem;
  height: 22.5625rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.campinfo-review__banner-bg {
  background: linear-gradient(to left, #000000, #000000);
  width: 120rem;
  height: 22.375rem;
  position: absolute;
  left: 0.0625rem;
  top: 0rem;
}
.campinfo-review__banner-info-1 {
  padding: 0rem 53.4375rem 1.3125rem 0rem;
  height: 6.125rem;
  position: absolute;
  right: 22.5rem;
  left: 22.5rem;
  top: 6.75rem;
}
.campinfo-review__2 {
  color: #ffffff;
  text-align: left;
  font: 400 2.1875rem/2.5rem "Inter", sans-serif;
  position: absolute;
  left: 0rem;
  top: 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__3 {
  color: #ffffff;
  text-align: left;
  font: 400 1.25rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0rem;
  top: 3.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__banner-weather {
  width: 4.0625rem;
  height: 4.25rem;
  position: absolute;
  right: 25.5625rem;
  top: 7.125rem;
}
.campinfo-review__banner-info-2 {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  height: 4.1875rem;
  position: absolute;
  left: calc(50% - 37.5rem);
  top: 13.5625rem;
  overflow: hidden;
}
.campinfo-review__list {
  flex-shrink: 0;
  width: 60rem;
  height: 0.0625rem;
  position: relative;
}
.campinfo-review__item {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 4.2625rem;
  top: -0.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item2 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 7.849375rem;
  top: -0.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item3 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 12.255625rem;
  top: -0.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item4 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 20.336875rem;
  top: -0.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item5 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 23.92375rem;
  top: -0.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item6 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 30.3675rem;
  top: -0.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item7 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 35.791875rem;
  top: -0.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item8 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 41.216875rem;
  top: -0.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item9 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 48.479375rem;
  top: -0.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item10 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 52.885625rem;
  top: -0.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item11 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 4.2625rem;
  top: 1.6875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item12 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 10.506875rem;
  top: 1.6875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item13 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 15.931875rem;
  top: 1.6875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item14 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 20.338125rem;
  top: 1.6875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item15 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 23.10625rem;
  top: 1.6875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item16 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 28.73125rem;
  top: 1.6875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__item17 {
  color: #ffffff;
  text-align: left;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 31.5rem;
  top: 1.6875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__banner-tag {
  border-radius: 6.25rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.0625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 3.6375rem;
  position: relative;
}
.campinfo-review__4 {
  color: #ffffff;
  text-align: center;
  font: 400 0.9375rem/1.75rem "NanumGothic", sans-serif;
  position: relative;
  width: 2.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__banner-rs-button {
  background: #4da385;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 5.8125rem;
  height: 2.0625rem;
  position: absolute;
  left: 89.5rem;
  top: 13.75rem;
}
.campinfo-review__5 {
  color: #ffffff;
  text-align: center;
  font: 700 0.8125rem "Inter", sans-serif;
  position: absolute;
  left: 0.3125rem;
  top: 0.4375rem;
  width: 5.0625rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__body-main-info {
  display: flex;
  flex-direction: row;
  gap: 2.25rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: absolute;
  left: 22.5rem;
  top: 59.6875rem;
}
.campinfo-review__main-image {
  background: #eeeeee;
  border-style: solid;
  border-color: #dedede;
  border-width: 0.0625rem;
  padding: 0.0625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45rem;
  height: 30.25rem;
  position: relative;
}
.campinfo-review__thumb-720-7922-z-tb-ln-3-n-qp-8-q-l-rrn-uil-vu-jpg {
  flex-shrink: 0;
  position: relative;
}
.campinfo-review__main-info-list {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0.0625rem 0rem 0rem 0rem;
  padding: 0.0625rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.03125rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 27.75rem;
  position: relative;
  overflow: hidden;
}
.campinfo-review__info {
  display: flex;
  flex-direction: column;
  gap: 0.03125rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 27.6875rem;
  position: relative;
}
.campinfo-review__row-1 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 27.6875rem;
  position: relative;
}
.campinfo-review__cell {
  padding: 0rem 0rem 0rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.0625rem;
  height: 3.0625rem;
  position: relative;
}
.campinfo-review__6 {
  color: #000000;
  text-align: left;
  font: 700 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 2.4375rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__data {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 19.375rem;
  height: 3.0625rem;
  position: absolute;
  left: 8.3125rem;
  top: 0rem;
}
.campinfo-review___245-29 {
  color: #626262;
  text-align: left;
  font: 400 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0rem;
  top: calc(50% - 1.53125rem);
  width: 16.5625rem;
  height: 3.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__row-2 {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0.0625rem 0rem 0.0625rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 27.75rem;
  height: 3.0625rem;
  position: relative;
}
.campinfo-review__cell2 {
  padding: 0rem 0rem 0rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.3125rem;
  height: 3rem;
  position: relative;
}
.campinfo-review__7 {
  color: #000000;
  text-align: left;
  font: 700 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__data2 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 19.375rem;
  height: 3rem;
  position: absolute;
  left: 8.375rem;
  top: calc(50% - 1.53125rem);
}
.campinfo-review___055-854-0404-010-4955-0506 {
  color: #626262;
  text-align: left;
  font: 400 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0rem;
  top: calc(50% - 0.78125rem);
  width: 16.625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__row-3 {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0rem 0rem 0.0625rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 27.6875rem;
  position: relative;
}
.campinfo-review__cell3 {
  padding: 0rem 0rem 0rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 6rem;
  height: 3.0625rem;
  position: relative;
}
.campinfo-review__8 {
  color: #000000;
  text-align: left;
  font: 700 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__data3 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 19.375rem;
  height: 3rem;
  position: absolute;
  left: 8.3125rem;
  top: calc(50% - 1.46875rem);
}
.campinfo-review__9 {
  color: #626262;
  text-align: left;
  font: 400 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 11.75rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__row-4 {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0rem 0rem 0.0625rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 27.6875rem;
  position: relative;
}
.campinfo-review__cell4 {
  padding: 0rem 0rem 0rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 3.0625rem;
  position: relative;
}
.campinfo-review__10 {
  color: #000000;
  text-align: left;
  font: 700 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 4.6875rem;
  height: 3.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__data4 {
  padding: 0.71875rem 0rem 0.71875rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 19.375rem;
  position: absolute;
  left: 8.3125rem;
  top: calc(50% - 1.4375rem);
}
.campinfo-review__11 {
  color: #626262;
  text-align: left;
  font: 400 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 13.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__row-5 {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0rem 0rem 0.0625rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 27.6875rem;
  position: relative;
}
.campinfo-review__cell5 {
  padding: 0rem 0rem 0rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.75rem;
  height: 3.0625rem;
  position: relative;
}
.campinfo-review__12 {
  color: #000000;
  text-align: left;
  font: 700 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 3.9375rem;
  height: 3.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__data5 {
  padding: 0.71875rem 0rem 0.71875rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 19.375rem;
  position: absolute;
  left: 8.3125rem;
  top: calc(50% - 1.46875rem);
}
.campinfo-review__13 {
  color: #626262;
  text-align: left;
  font: 400 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 13.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__row-6 {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0rem 0rem 0.0625rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 27.625rem;
  position: relative;
}
.campinfo-review__14 {
  color: #000000;
  text-align: left;
  font: 700 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 4.75rem;
  height: 3.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__data6 {
  padding: 0.71875rem 0rem 0.71875rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 19.375rem;
  position: absolute;
  left: 8.25rem;
  top: calc(50% - 1.4375rem);
}
.campinfo-review__15 {
  color: #626262;
  text-align: left;
  font: 400 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 11.9375rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__row-7 {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0rem 0rem 0.0625rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 27.625rem;
  position: relative;
}
.campinfo-review__cell6 {
  padding: 0rem 0rem 0rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 5.125rem;
  height: 3.0625rem;
  position: relative;
}
.campinfo-review__16 {
  color: #000000;
  text-align: left;
  font: 700 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 4.0625rem;
  height: 3.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__data7 {
  padding: 0.71875rem 0rem 0.71875rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 19.375rem;
  position: absolute;
  left: 8.25rem;
  top: calc(50% - 1.46875rem);
}
.campinfo-review__link3 {
  color: #626262;
  text-align: left;
  font: 400 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 7.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__i-ico-link {
  flex-shrink: 0;
  width: 0.8125rem;
  height: 0.8125rem;
  position: relative;
}
.campinfo-review__row-8 {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0rem 0rem 0.0625rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 27.625rem;
  position: relative;
}
.campinfo-review__17 {
  color: #000000;
  text-align: left;
  font: 700 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 6.75rem;
  height: 3.0625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__18 {
  color: #626262;
  text-align: left;
  font: 400 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 18.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__frame {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: relative;
}
.campinfo-review__cell7 {
  padding: 0.71875rem 0rem 0.71875rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 5.6875rem;
  position: relative;
}
.campinfo-review__button2 {
  background: #e32242;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 1.625rem;
  position: absolute;
  right: -21.625rem;
  left: 21.875rem;
  top: calc(50% - 0.8125rem);
}
.campinfo-review__19 {
  color: #ffffff;
  text-align: center;
  font: 400 0.8125rem "Inter", sans-serif;
  position: absolute;
  left: 2.1875rem;
  top: calc(50% - 0.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review___1-1 {
  flex-shrink: 0;
  width: 1.4375rem;
  height: 1.125rem;
  position: absolute;
  left: 0.625rem;
  top: 0.25rem;
}
.campinfo-review__rating {
  color: #000000;
  text-align: left;
  font: 700 0.875rem/1.5625rem "NanumGothic", sans-serif;
  position: relative;
  width: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__image-2 {
  flex-shrink: 0;
  width: 2.125rem;
  height: 2.125rem;
  position: absolute;
  left: 9.0625rem;
  top: 0.46875rem;
}
.campinfo-review__image-3 {
  flex-shrink: 0;
  width: 2.125rem;
  height: 2.125rem;
  position: absolute;
  left: 11.4375rem;
  top: 0.46875rem;
}
.campinfo-review__image-4 {
  flex-shrink: 0;
  width: 2.125rem;
  height: 2.125rem;
  position: absolute;
  left: 13.8125rem;
  top: 0.46875rem;
}
.campinfo-review__image-5 {
  flex-shrink: 0;
  width: 2.125rem;
  height: 2.125rem;
  position: absolute;
  left: 16.1875rem;
  top: 0.46875rem;
}
.campinfo-review__image-6 {
  flex-shrink: 0;
  width: 2.125rem;
  height: 2.125rem;
  position: absolute;
  left: 18.5625rem;
  top: 0.46875rem;
}
.campinfo-review__body-list {
  border-style: solid;
  border-color: #8d8d8d;
  border-width: 0.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: absolute;
  left: 37.5rem;
  top: 93.5625rem;
  overflow: hidden;
}
.campinfo-review__item18 {
  background: #8d8d8d;
  padding: 0rem 4.87rem 0rem 4.88rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 3.3125rem;
  position: relative;
}
.campinfo-review__link4 {
  color: #ffffff;
  text-align: center;
  font: 400 0.9375rem/3.3125rem "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__item19 {
  background: #ffffff;
  padding: 0rem 4.66rem 0rem 4.7775rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 3.3125rem;
  position: relative;
}
.campinfo-review__link5 {
  color: #8d8d8d;
  text-align: center;
  font: 400 0.9375rem/3.3125rem "NanumGothic", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__review {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 76.75rem;
  height: 33.25rem;
  position: absolute;
  left: calc(50% - 38.375rem);
  top: 99.5625rem;
}
.campinfo-review__review-list {
  border-width: 0.0625rem 0rem 0rem 0rem;
  border-style: solid;
  border-image: linear-gradient(
    0deg,
    rgba(179, 179, 179, 1) 0%,
    rgba(0, 0, 0, 1) 0%
  );
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  gap: 0.03125rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73.25rem;
  height: 25.8125rem;
  position: absolute;
  left: 2.5625rem;
  top: 4.8125rem;
}
.campinfo-review__row {
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0rem 0rem 0.0625rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 73.25rem;
  height: 5.5625rem;
  position: relative;
}
.campinfo-review__star {
  display: flex;
  flex-direction: row;
  gap: 0.0625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 3rem;
  top: 0.25rem;
}
.campinfo-review__image-9 {
  flex-shrink: 0;
  width: 2.125rem;
  height: 2.125rem;
  position: relative;
}
.campinfo-review__number {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 2.9375rem;
  position: absolute;
  left: 0.0625rem;
  top: 1.3125rem;
}
.campinfo-review___1 {
  color: #777777;
  text-align: center;
  font: 400 0.875rem/1.25rem "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 1.09375rem);
  top: 0rem;
  width: 2.1875rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__date {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 5.625rem;
  height: 2.1875rem;
  position: absolute;
  left: 11.0625rem;
  top: 0.3125rem;
}
.campinfo-review___2023-08-15 {
  color: #777777;
  text-align: left;
  font: 400 0.875rem/1.25rem "NanumGothic", sans-serif;
  position: absolute;
  left: calc(50% - 2.8125rem);
  top: -0.25rem;
  width: 5.8125rem;
  height: 2.6875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__title {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 59.375rem;
  height: 1.9375rem;
  position: absolute;
  left: 13.875rem;
  top: 2.9375rem;
}
.campinfo-review__20 {
  color: #777777;
  text-align: left;
  font: 400 0.875rem/1.25rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 63rem;
  height: 1.9375rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__button3 {
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 8.5625rem;
  height: 2.8125rem;
  position: absolute;
  left: 15.8125rem;
  top: 0.0625rem;
}
.campinfo-review__21 {
  color: #6a6a6a;
  text-align: center;
  font: 700 0.8125rem "Inter", sans-serif;
  position: absolute;
  left: 1.375rem;
  top: 0.875rem;
  width: 2.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__22 {
  color: #6a6a6a;
  text-align: center;
  font: 700 0.8125rem "Inter", sans-serif;
  position: absolute;
  left: 4.3125rem;
  top: 0.875rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__23 {
  color: #000000;
  text-align: left;
  font: 400 1.25rem/1.25rem "NanumGothic", sans-serif;
  position: absolute;
  left: 3.375rem;
  top: 2.3125rem;
  width: 9.375rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review___4-5 {
  color: #000000;
  text-align: center;
  font: 400 1.25rem/1.25rem "NanumGothic", sans-serif;
  position: absolute;
  left: 5.9375rem;
  top: 0rem;
  width: 3.0625rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__24 {
  border-style: solid;
  border-color: #4da385;
  border-width: 0.125rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 1.9375rem;
  position: absolute;
  left: 70.875rem;
  top: 2.1875rem;
}
.campinfo-review__25 {
  color: #777777;
  text-align: center;
  font: 400 0.875rem/1.25rem "NanumGothic", sans-serif;
  position: relative;
  width: 4.9375rem;
  height: 1.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__heading {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 11.125rem;
  height: 3rem;
  position: absolute;
  left: 1.125rem;
  top: 0.9375rem;
}
.campinfo-review___12 {
  flex-shrink: 0;
  width: 1.3125rem;
  height: 1.3125rem;
  position: absolute;
  left: 1.4375rem;
  top: 0.8125rem;
}
.campinfo-review___5 {
  color: #000000;
  text-align: left;
  font: 400 1.25rem/1.6875rem "NanumGothic", sans-serif;
  position: absolute;
  left: 3.125rem;
  top: 0.625rem;
  width: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__section-footer {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 120rem;
  height: 15.5rem;
  position: absolute;
  left: 0.0625rem;
  top: 137.1875rem;
}
.campinfo-review__footer-info {
  background: #2e2f31;
  border-style: solid;
  border-color: #4a4a4c;
  border-width: 0rem 0rem 0.0625rem 0rem;
  padding: 0rem 0.625rem 0.3125rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 7.5rem;
  min-height: 5.625rem;
  position: absolute;
  right: 0rem;
  left: 0rem;
  top: 0rem;
}
.campinfo-review__footer-list {
  padding: 0.9375rem 10.25rem 0.9375rem 10.25rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  right: 39.71875rem;
  left: 10.28125rem;
  top: 0.875rem;
}
.campinfo-review__footer-list-1 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.375rem;
  height: 3.75rem;
  position: relative;
}
.campinfo-review__link6 {
  color: #ffffff;
  text-align: center;
  font: 400 0.8125rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0.96875rem;
  top: 0.25rem;
  width: 10.5rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__footer-list-2 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.375rem;
  height: 3.75rem;
  position: relative;
}
.campinfo-review__footer-list-3 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.375rem;
  height: 3.75rem;
  position: relative;
}
.campinfo-review__footer-list-4 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.375rem;
  height: 3.75rem;
  position: relative;
}
.campinfo-review__footer-info-link {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 86.3125rem;
  top: 2.75rem;
}
.campinfo-review__info-site-1 {
  background: #393a3b;
  padding: 0.0625rem 1.1875rem 0.0625rem 1.1875rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 9.375rem;
  height: 2.5rem;
  position: relative;
}
.campinfo-review__button4 {
  color: #d0d0d0;
  text-align: center;
  font: 400 0.8125rem/2.375rem "Inter", sans-serif;
  position: relative;
  width: 9.375rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__info-site-2 {
  background: #393a3b;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 9.375rem;
  height: 2.5rem;
  position: relative;
}
.campinfo-review__26 {
  color: #d0d0d0;
  text-align: center;
  font: 400 0.8125rem/2.375rem "Inter", sans-serif;
  position: relative;
  width: 9.375rem;
  height: 2.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campinfo-review__footer-copyright {
  background: #2e2f31;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 120rem;
  height: 8.1875rem;
  position: absolute;
  left: 0rem;
  top: 7.3125rem;
}
.campinfo-review__footer-info2 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 84.125rem;
  height: 6.3125rem;
  position: absolute;
  left: calc(50% - 38.4375rem);
  top: 1.1875rem;
}
.campinfo-review___109-7 {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
  position: relative;
  width: 30.75rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__email-camppy-itwillbs-co-kr {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0rem;
  top: 2rem;
  width: 12.0625rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review-email-camppy-itwillbs-co-kr-span {
  color: #c0c0c0;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
}
.campinfo-review-email-camppy-itwillbs-co-kr-span2 {
  color: #c0c0c0;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
}
.campinfo-review__copyrights-c-2018-korea-tourism-organization-all-rights-reserved {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0rem;
  top: 3.9375rem;
  width: 31.375rem;
  height: 2.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review___051-803-0909 {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
  position: absolute;
  left: 13.875rem;
  top: 2.25rem;
  width: 13.5625rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__tel-051-803-0909-10-00-18-00 {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
  position: absolute;
  left: 31.375rem;
  top: -0.25rem;
  width: 20.0625rem;
  height: 2.6875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campinfo-review__sns {
  display: flex;
  flex-direction: row;
  gap: 2.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 17rem;
  height: 5.0625rem;
  position: absolute;
  right: -0.8125rem;
  top: 0rem;
}
.campinfo-review__item-link {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0.875rem;
  top: 0.9375rem;
}
.campinfo-review__item-link2 {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 8.4375rem;
  top: 0.9375rem;
}
.campinfo-review__item-link3 {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 4.875rem;
  top: 0.9375rem;
}
.campinfo-review__item-link4 {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 11.9375rem;
  top: 0.9375rem;
}
.campinfo-review__free-icon-up-arrow-5181252-1 {
  border-radius: 0.1875rem;
  flex-shrink: 0;
  width: 3.4375rem;
  height: 3.4375rem;
  position: absolute;
  left: 112.875rem;
  top: 1.4375rem;
}
