<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>camppy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!--   가상주소에 해당하는 처리담당자(서블릿파일)=> 주소매핑 -->
<!-- http://localhost:8080/FunWeb/insert.me -->
<servlet-mapping>
	<servlet-name>MainFrontController</servlet-name>
	<url-pattern>*.camp</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>MainFrontController</servlet-name>
	<servlet-class>camppy.main.action.MainFrontController</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>CommuController</servlet-name>
	<url-pattern>*.commu</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>CommuController</servlet-name>
	<servlet-class>camppy.commu.action.CommuController</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>MemberController</servlet-name>
	<url-pattern>*.me</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>MemberController</servlet-name>
	<servlet-class>camppy.member.MemberController</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>CampRegController</servlet-name>
	<url-pattern>*.campreg</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>CampRegController</servlet-name>
	<servlet-class>camppy.main.action.CampRegController</servlet-class>
</servlet>

  <servlet>
  	<servlet-name>DetailController</servlet-name>
  	<servlet-class>com.camppy.controller.DetailController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>DetailController</servlet-name>
  	 <url-pattern>*.de</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>JDBCUrl</param-name>
  	<param-value>jdbc:mysql://itwillbs.com:3306/c1d2304t3?allowMultiQueries=ture</param-value>
  </context-param>
  
  
  <servlet-mapping>
	<servlet-name>ReserveController</servlet-name>
	<url-pattern>*.re</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ReserveController</servlet-name>
	<servlet-class>camppy.reserve.action.ReserveController</servlet-class>
</servlet>

 <servlet-mapping>
	<servlet-name>ReviewController</servlet-name>
	<url-pattern>*.rv</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ReviewController</servlet-name>
	<servlet-class>camppy.review.ReviewController</servlet-class>
</servlet>


  <!--   가상주소에 해당하는 처리담당자(서블릿파일)=> 주소매핑 -->
<!-- http://localhost:8080/FunWeb/list.bo -->
<!--
  <servlet-mapping>
	<servlet-name>BoardController</servlet-name>
	<url-pattern>*.bo</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>BoardController</servlet-name>
	<servlet-class>com.itwillbs.controller.BoardController</servlet-class>
</servlet>
-->
  
</web-app>