<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>camppy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!--   가상주소에 해당하는 처리담당자(서블릿파일)=> 주소매핑 -->
<!-- http://localhost:8080/FunWeb/insert.me -->
<servlet-mapping>
	<servlet-name>MainFrontController</servlet-name>
	<url-pattern>*.camp</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>MainFrontController</servlet-name>
	<servlet-class>camppy.main.action.MainFrontController</servlet-class>
</servlet>

  <!--   가상주소에 해당하는 처리담당자(서블릿파일)=> 주소매핑 -->
<!-- http://localhost:8080/FunWeb/list.bo -->
<!--
  <servlet-mapping>
	<servlet-name>BoardController</servlet-name>
	<url-pattern>*.bo</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>BoardController</servlet-name>
	<servlet-class>com.itwillbs.controller.BoardController</servlet-class>
</servlet>
-->
  
</web-app>