.camInfo,
.campInfo * {
  box-sizing: border-box;
}
.campInfo {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.5319vw;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  overflow: hidden;
}

.bannerSectionTotal {
  flex-shrink: 0;
  width: 100.0000vw;
  height: 18.4043vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.bannerBg {
  background: linear-gradient(to left, #000000, #000000);
  width: 102.1277vw;
  height: 19.0426vw;
  position: absolute;
  left: 0.0000vw;
  top: 0vw;
}

.campName {
  color: #ffffff;
  text-align: left;
  font: 400 3.5vw "Inter", sans-serif;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  width: 90vw;


}
.campReport {
  color: #ffffff;
  text-align: left;
  font: 400 1.5vw "NanumGothic", sans-serif;
  position: absolute;
  margin-top: 4vw;
}

.bannerRsButton {
  color: #ffffff;
  font: 1vw "Inter", sans-serif;
  text-align: center;
  background: #4da385;
  border-radius: 0.2660vw;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  width: 7vw;
  height: 2.4vw;
  position: absolute;
  left: 91.5vw;
  top: 16vw
}

.infoSectionBody {
  flex-shrink: 0;
  width: 100.0000vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
}
.mainInfo {
  display: flex;
  flex-direction: row;
  gap: 1.8750vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  left: calc(50% - 31.2500vw);
  top: 7.3957vw;
}

.campPhotoBox {
  overflow: hidden;  
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 34vw;
  height: 25.2085vw;
  position: relative;
}

.campPhotoBox input[id*="slide"]{
	display: none;
}

.campPhotoBox .slideWrap{
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.campPhotoBox .slideList{
	white-space: nowrap;
	font-size: 0;
}

.campPhotoBox .slideList > li{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	transition: all .5s;
}

.campPhotoBox .slideList > li > a{
	display:block;
	position: relative;
}

.campPhotoBox .slideList > li > a img{
	width:100%;
}

.campPhotoBox .slideList label{
	position: absolute;
	z-index: 10;
	top:50%;
	transform: translateY(-50%);
	padding: 50px;
	cursor:pointer;
}

.campPhotoBox .slideList .left{
	left: 30px;
	background: url('./campInfo/left-arrow.png') center center / 100% no-repeat;
}

.campPhotoBox .slideList .right{
	right: 30px;
	background: url('./campInfo/right-arrow.png') center center / 100% no-repeat;
}

.campPhotoBox [id="slide1"]:checked ~ .slideWrap .slideList > li {transform: translateX(0%);}
.campPhotoBox [id="slide2"]:checked ~ .slideWrap .slideList > li {transform: translateX(-100%);}
.campPhotoBox [id="slide3"]:checked ~ .slideWrap .slideList > li {transform: translateX(-200%);}
.campPhotoBox [id="slide4"]:checked ~ .slideWrap .slideList > li {transform: translateX(-300%);}

.infoList {
  border-top-style: solid;
  border-color: #c8c8c8;
  border-top-width: 0.0521vw;
  padding-top: 0.0521vw;
  display: flex;
  flex-direction: column;
  gap: 0.0261vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 23.1250vw;
  position: relative;
  overflow: hidden;
}

.infoAddress {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.campAddress {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoTell {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.tellNum {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoSet {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.setBg {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoType {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.type {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.runSeason {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.season {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.runDay {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.week {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.homePage {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}

.pageLink {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.useSpace {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  border-bottom-style: solid;
  border-color: #c8c8c8;
  border-width:0.0521vw;
  display: flex;
  width: 23.1250vw;
}
.space {
  color: #626262;
  text-align: left;
  font: 400 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  position: absolute;
  left: 6.9vw;
  height: 2.5521vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rating {
  color: #000000;
  font: 700 0.7293vw/1.3021vw "NanumGothic", sans-serif;
  padding-left: 0.5207vw;
  align-items: center;
  height: 2.5521vw;
  display: flex;
  width: 23.1250vw;
}

.star {
  bottom: 0vw;
  left: 7vw;
  position: absolute;
}

.starImg{
  width: 1.75vw;
}

.likeButton {
  color: #ffffff;
  font: 700 0.7293vw/1.8vw "NanumGothic", sans-serif;
  text-align: center;
  border-radius: 0.2660vw;
  background: #e32242;
  height: 1.8vw;
  position: absolute;
  width: 4vw;
  left: 19vw;
}

.unLikeButton {
  color: #e32242;
  font: 700 0.7293vw/1.6vw "NanumGothic", sans-serif;
  text-align: center;
  border-radius: 0.2660vw;
  border-style: solid;
  border-color:  #e32242;
  height: 1.8vw;
  position: absolute;
  width: 4vw;
  left: 19vw;
}

.infoLinkList {
  border-style: solid;
  border-color: #8d8d8d;
  border-width: 0.1043vw;
  display: flex;
  flex-direction: row;
  gap: 0.0000vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  left: calc(50% - 18.3851vw);
  top: 34.7814vw;
  overflow: hidden;
}

.infoLink1 {
  color: #8d8d8d;
  text-align: center;
  font: 400 0.7814vw/2.7606vw "NanumGothic", sans-serif;
  width: 12vw;
  background: #ffffff;
}

.infoLink2 {
  color: #ffffff;
  text-align: center;
  font: 400 0.7814vw/2.7606vw "NanumGothic", sans-serif;
  width: 12vw;
  background: #8d8d8d;
}

.campReview {
  display: flex;
  flex-direction: column;
  gap: 0.5207vw;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 9vw;
  top: 41vw;
}

.comeIcon {
  flex-shrink: 0;
  width: 1.0936vw;
  height: 1.0936vw;
  position: absolute;
  left: 0.0000vw;
  top: 0.6771vw;
}
.comeRoad {
  color: #000000;
  text-align: left;
  font: 400 1.0415vw/1.4064vw "NanumGothic", sans-serif;
  left: 1.4064vw;
  top: 0.5207vw;
  width: 17.0314vw;
  padding-bottom: 0.5vw;
  position: relative;
}
.mapImgDiv {
  border-radius: 0.2606vw;
  display: flex;
  flex-direction: row;
  gap: 0.5207vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 63.0729vw;
  height: 32.0835vw;
  position: absolute;
  left: 1.1979vw;
  top: 3.0207vw;
  overflow: hidden;
}
/*.mapImg {
  flex-shrink: 0;
  width: 63.0729vw;
  height: 31.8750vw;
  position: absolute;
  left: 0.0000vw;
  top: 0.0000vw;
}*/
.campinfo-review, .campinfo-review * {
	box-sizing: border-box;
}

.campinfoReview {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-shrink: 0;
	width: 1202.42px;
	height: 520.92px;
	position: relative;
	left: calc(50% - 599.74px);
}

.reviewTop {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 1150px;
	height: 60px;
	position: relative;
	top: 15px;
	border-bottom: solid;
	border-width: 1px;
	
}

.reviewCount {
	color: #000000;
	text-align: left;
	font: 400 19.58px/26.44px "NanumGothic", sans-serif;
	position: absolute;
	left: 10px;
	top: 30px;
	width: 117.5px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.buttonInsert {
  background: #4da285;
  border-radius: 5.97px;
  flex-shrink: 0;
  width: 75px;
  height: 25px;
  position: absolute;
  left: 1075px;
  top: 30px;
  color: #ffffff;
  text-align: center;
  font: "NanumGothic", sans-serif;
}
.campinfoList {
	border-width: 0.98px 0px 0px 0px;
	border-style: solid;
	border-image: linear-gradient(0deg, rgba(179, 179, 179, 1) 0%,
		rgba(0, 0, 0, 1) 0%);
	border-image-slice: 1;
	display: flex;
	flex-direction: column;
	gap: 0.49px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 1147.58px;
	height: 404.4px;
	position: absolute;
	left: 40.15px;
	top: 75.4px;
}

.campinfoRow {
	border-style: solid;
	border-color: #b3b3b3;
	border-width: 0px 0px 0.98px 0px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-shrink: 0;
	width: 1150px;
	height: 87.15px;
	position: relative;
	margin-top: 10px;
}

.campinfoStar {
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 50px;
	top: 5px;
}

.campinfoStar1 {
	color: #777777;
	text-align: center;
	font: 400 13.71px/19.58px "NanumGothic", sans-serif;
	position: absolute;
	left: auto;
	top: 0px;
	width: 145px;
	height: 30px;
	display: flex;
	align-items: center;
}

.reviewNum {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 46.02px;
	position: absolute;
	left: 0.98px;
	top: 20.56px;
}

.reviewNum1 {
	color: #777777;
	text-align: center;
	font: 400 13.71px/19.58px "NanumGothic", sans-serif;
	position: absolute;
	left: calc(50% - 17.14px);
	top: 0px;
	width: 34.27px;
	height: 50.92px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reviewName {
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 50px;
	top: 45px;
}

.reviewName1 {
	color: #777777;
	text-align: center;
	font: 400 13.71px/19.58px "NanumGothic", sans-serif;
	position: absolute;
	left: auto;
	top: 0px;
	width: 145px;
	height: 30px;
	display: flex;
	align-items: center;
}

.reviewDate {
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 160px;
	top: 5px;
}

.reviewDate1 {
	color: #777777;
	text-align: center;
	font: 400 13.71px/19.58px "NanumGothic", sans-serif;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 30px;
	display: flex;
	align-items: center;
}

.reviewContents {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 930.21px;
	height: 30.35px;
	position: absolute;
	left: 160px;
	top: 45px;
}

.reviewContents1 {
	color: #777777;
	text-align: left;
	font: 400 13.71px/19.58px "NanumGothic", sans-serif;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1000px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}


.buttonUpdate{
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 350px;
	top: 10px;
}
.buttonDel {
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 400px;
	top: 10px;
}
.buttonSave{
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 800px;
	top: 10px;
}
.buttonCancel{
	display: flex;
	flex-direction: row;
	gap: 0.98px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: absolute;
	left: 850px;
	top: 10px;
	display: none;
}
.editContent { 
  resize: none;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 600px; 
  height: 20px;
  font: 400 13.71px/19.58px "NanumGothic", sans-serif;
  color: #777777;
}
  .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        position:relative;
        left: 33vw;
    }

.pagination a {
        text-decoration: none;
        padding: 8px 16px;
        margin: 0 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #333;
        transition: background-color 0.3s, color 0.3s;
    }

    .pagination a.active {
        background-color: #333;
        color: #fff;
    }

    .pagination a:hover {
        background-color: #333;
        color: #fff;
          }