@charset "UTF-8";
.member-sign,
.member-sign * {
  box-sizing: border-box;
}
.member-sign {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: 89.0625rem;
  position: relative;
  overflow: hidden;
}
.member-sign__section-total {
  padding: 3.5rem 0rem 3.5rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 120rem;
  height: 89.875rem;
  position: relative;
  overflow: hidden;
}
.member-sign__section-footer {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 120rem;
  height: 15.5rem;
  position: absolute;
  left: 0rem;
  top: 74.375rem;
}
.member-sign__footer-info {
  background: #2e2f31;
  border-style: solid;
  border-color: #4a4a4c;
  border-width: 0rem 0rem 0.0625rem 0rem;
  padding: 0rem 0.625rem 0.3125rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 7.5rem;
  min-height: 5.625rem;
  position: absolute;
  right: 0rem;
  left: 0rem;
  top: 0rem;
}
.member-sign__footer-list {
  padding: 0.9375rem 10.25rem 0.9375rem 10.25rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  right: 39.71875rem;
  left: 10.28125rem;
  top: 0.875rem;
}
.member-sign__footer-list-1 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.375rem;
  height: 3.75rem;
  position: relative;
}
.member-sign__link {
  color: #ffffff;
  text-align: center;
  font: 400 0.8125rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0.96875rem;
  top: 0.25rem;
  width: 10.5rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-sign__footer-list-2 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.375rem;
  height: 3.75rem;
  position: relative;
}
.member-sign__footer-list-3 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.375rem;
  height: 3.75rem;
  position: relative;
}
.member-sign__footer-list-4 {
  padding: 0rem 1.04rem 0.0625rem 1.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.375rem;
  height: 3.75rem;
  position: relative;
}
.member-sign__footer-info-link {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 86.3125rem;
  top: 2.75rem;
}
.member-sign__info-site-1 {
  background: #393a3b;
  padding: 0.0625rem 1.1875rem 0.0625rem 1.1875rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 9.375rem;
  height: 2.5rem;
  position: relative;
}
.member-sign__button {
  color: #d0d0d0;
  text-align: center;
  font: 400 0.8125rem/2.375rem "Inter", sans-serif;
  position: relative;
  width: 9.375rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-sign__info-site-2 {
  background: #393a3b;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 9.375rem;
  height: 2.5rem;
  position: relative;
}
.member-sign__ {
  color: #d0d0d0;
  text-align: center;
  font: 400 0.8125rem/2.375rem "Inter", sans-serif;
  position: relative;
  width: 9.375rem;
  height: 2.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-sign__footer-copyright {
  background: #2e2f31;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 120rem;
  height: 8.1875rem;
  position: absolute;
  left: 0rem;
  top: 7.3125rem;
}
.member-sign__footer-info2 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 84.125rem;
  height: 6.3125rem;
  position: absolute;
  left: calc(50% - 38.4375rem);
  top: 1.1875rem;
}
.member-sign___109-7 {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
  position: relative;
  width: 30.75rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-sign__email-camppy-itwillbs-co-kr {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0rem;
  top: 2rem;
  width: 12.0625rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-sign-email-camppy-itwillbs-co-kr-span {
  color: #c0c0c0;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
}
.member-sign-email-camppy-itwillbs-co-kr-span2 {
  color: #c0c0c0;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
}
.member-sign__copyrights-c-2018-korea-tourism-organization-all-rights-reserved {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0rem;
  top: 3.9375rem;
  width: 31.375rem;
  height: 2.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-sign___051-803-0909 {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
  position: absolute;
  left: 13.875rem;
  top: 2.25rem;
  width: 13.5625rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-sign__tel-051-803-0909-10-00-18-00 {
  color: #c0c0c0;
  text-align: left;
  font: 400 0.8125rem/1.375rem "NanumGothic", sans-serif;
  position: absolute;
  left: 31.375rem;
  top: -0.25rem;
  width: 20.0625rem;
  height: 2.6875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-sign__sns {
  display: flex;
  flex-direction: row;
  gap: 2.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 17rem;
  height: 5.0625rem;
  position: absolute;
  right: -0.8125rem;
  top: 0rem;
}
.member-sign__item-link {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0.875rem;
  top: 0.9375rem;
}
.member-sign__item-link2 {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 8.4375rem;
  top: 0.9375rem;
}
.member-sign__item-link3 {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 4.875rem;
  top: 0.9375rem;
}
.member-sign__item-link4 {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 11.9375rem;
  top: 0.9375rem;
}
.member-sign__free-icon-up-arrow-5181252-1 {
  border-radius: 0.1875rem;
  flex-shrink: 0;
  width: 3.4375rem;
  height: 3.4375rem;
  position: absolute;
  left: 112.875rem;
  top: 1.4375rem;
}
.member-sign__main-page {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0.0625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 120rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.member-sign__header-insert-login {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 120rem;
  height: 3.4375rem;
  position: relative;
}
.member-sign__section-header {
  background: rgba(240, 241, 245, 0.1);
  padding: 0rem 0.625rem 0rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 120rem;
  height: 17.8125rem;
  position: relative;
  overflow: hidden;
}
.member-sign__main-logo {
  padding: 0rem 0.625rem 0rem 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 119.625rem;
  height: 14.375rem;
  position: absolute;
  left: 0.1875rem;
  top: 1.6875rem;
}
.member-sign__camppy-2 {
  flex-shrink: 0;
  width: 22.75rem;
  height: 14.375rem;
  position: relative;
}
.member-sign__sign-box {
  padding: 0.75rem 15.625rem 0.75rem 15.625rem;
  flex-shrink: 0;
  width: 75rem;
  height: 46.6875rem;
  position: absolute;
  left: 22.5rem;
  top: 22.0625rem;
  overflow: hidden;
}
.member-sign__id-box {
  background: #ffffff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #777777;
  border-width: 0.0625rem;
  padding: 0rem 0.0625rem 0rem 0.0625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 43.75rem;
  height: 4.375rem;
  position: absolute;
  left: 15.625rem;
  top: 0.75rem;
  overflow: hidden;
}
.member-sign__id-box:focus-within {
    border-color: green;
}
.member-sign__pass-box {
  background: #ffffff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #777777;
  border-width: 0.0625rem;
  padding: 0rem 0.0625rem 0rem 0.0625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 43.75rem;
  height: 4.375rem;
  position: absolute;
  left: 15.625rem;
  top: 6.625rem;
  overflow: hidden;
}
.member-sign__pass-box:focus-within {
    border-color: green;
}
.member-sign__pass-check-box:focus-within {
    border-color: green;
}
.member-sign__nick-box:focus-within {
    border-color: green;
}
.member-sign__name-box:focus-within {
    border-color: green;
}
.member-sign__phone-box:focus-within {
    border-color: green;
}
.member-sign__2 {
  border-color: red;
  outline: none;
  color: #777777;
  text-align: left;
  font: 400 1.5625rem/1.75rem "NanumGothic", sans-serif;
  position: relative;
  width: 42.5rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-sign__pass-check-box {
  background: #ffffff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #777777;
  border-width: 0.0625rem;
  padding: 0rem 0.0625rem 0rem 0.0625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 43.75rem;
  height: 4.375rem;
  position: absolute;
  left: 15.625rem;
  top: 12.5rem;
  overflow: hidden;
}
.member-sign__nick-box {
  background: #ffffff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #777777;
  border-width: 0.0625rem;
  padding: 0rem 0.0625rem 0rem 0.0625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 43.75rem;
  height: 4.375rem;
  position: absolute;
  left: 15.625rem;
  top: 18.375rem;
  overflow: hidden;
}
.member-sign__name-box {
  background: #ffffff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #777777;
  border-width: 0.0625rem;
  padding: 0rem 0.0625rem 0rem 0.0625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 43.75rem;
  height: 4.375rem;
  position: absolute;
  left: 15.625rem;
  top: 24.25rem;
  overflow: hidden;
}
.member-sign__phone-box {
  background: #ffffff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #777777;
  border-width: 0.0625rem;
  padding: 0rem 0.0625rem 0rem 0.0625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 43.75rem;
  height: 4.375rem;
  position: absolute;
  left: 15.625rem;
  top: 30.125rem;
  overflow: hidden;
}
.member-sign__3 {
  color: #777777;
  text-align: left;
  font: 400 1.5625rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0.875rem;
  top: 0.625rem;
  width: 32.5rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-sign__phone-certify {
  background: #4da385;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 7.0625rem;
  height: 2.5rem;
  position: absolute;
  left: 35.8125rem;
  top: 0.9375rem;
  overflow: hidden;
}
.member-sign__4 {
  color: #ffffff;
  text-align: center;
  font: 700 1.25rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0.875rem;
  top: 0.125rem;
  width: 5.1875rem;
  height: 2.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-sign__join-box {
  background: #4da385;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  width: 26.25rem;
  height: 3.5625rem;
  position: absolute;
  left: 24.3125rem;
  top: 41.875rem;
  overflow: hidden;
}
.member-sign__5 {
  color: #ffffff;
  text-align: center;
  font: 700 2.25rem/1.75rem "NanumGothic", sans-serif;
  position: absolute;
  left: 0.875rem;
  top: 0.125rem;
  width: 23.6875rem;
  height: 3.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.member-sign__terms-box {
  background: #ffffff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #777777;
  border-width: 0.0625rem;
  padding: 0rem 0.0625rem 0rem 0.0625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 43.75rem;
  height: 4.375rem;
  position: absolute;
  left: 15.625rem;
  top: 36rem;
  overflow: hidden;
}
input[type="checkbox"] {
  appearance: checkbox;
  border: initial;
  background: initial;
}
#large-checkbox {
  width: 20px;
  height: 20px;
}

